/*
This fix is technically obsolete as of 2021-03-26. However, I am leaving some fixes that are currently not in the main css files. This means the file is still relevant
*/
/*Temporary fix for clearvision for the 2021-03-24 rerolls by Nyx*/
/*2021-03-24 rerolls*/
.footer-1kmXd4,/*No pins on server fix*/
.categoryList-xW5xXr,/*Stickers*/
.list-A0BHjR{/*New commands popup left panel*/
  background: rgba(0,0,0,.1);
}
.iconBadge-3qSJIw.participating-1NvRVd {
  background-color: var(--backdrop-overlay);
}
.role-2-tni0:hover {
  background-color: rgba(255,255,255,0.1);
}
.iconContainer-2SYmeK.checked-1Gs3_E {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/*server folder transparency*/
.folder-1hbNCn,.folder-1hbNCn:hover,.expandedFolderIconWrapper-Huv7rA,.expandedFolderIconWrapper-Huv7rA:hover{
  background: transparent;
}
