/*---------- Credits ----------*/
/*
Hello curious coder! This is the repository for my powercord preset. 
If you want to use code from here, just dm me at Nyx#9567 (user ID 393900343135830016)
Be forewarned that not everything may work as intended and all the parts of this code
are created to work together and sometimes not apart,and a lot of this code was 
made with the help of others.
*/
/*---------- CV Fixes ----------*/
/*Conf applies to base theme as well*/
/*Spinning profile popout logo thing*/
.loadingPopout-1feYe_,
.spinner-2RT7ZC {
  background: transparent;
}
/*Fix to the profile popout having a margin on right*/
.userPopout-3XzG_A:before{
  margin: 0px;
}
/*Button (like when joining or leaving servers etc) fix*/
.footer-31IekZ .button-38aScr:nth-child(2){
  margin-right: 5px;
}
.fullScreen-KhZZcz .flexCenter-1Vz5gs{ /*Fullscreen share*/
  background: rgba(0, 0, 0, calc(var(--background-shading) * .6));
}
.note-Go5ZP2{
  margin-left:0;
  margin-bottom:10px;
} /*Discord fix ur dumb notes margin*/

.animatorLeft-3yvG13 > .userPopout-2j1gM4{
  margin-right: 0px;
}
/*Create New Server Menu,. makes hover grey*/
.container-x8Y1ix{
  background: rgba(0,0,0,.2) !important;
}
.container-x8Y1ix:hover{
  background: var(--hover-color) !important;
}
/*Make Input Box Lighter*/
.channelTextArea-1FufC0,
.channelTextArea-1VQBuV{
  background: rgba(0,0,0,.2) !important;
}
.clipContainer-31nYlH{
  border-radius: 8px;
}
/*Dashed border when replying*/
.container-A2jo65{
  background: transparent !important;
  border-bottom: 1px dashed var(--main-color);
}
/*Share Screen Modal Width by Addy*/
.modalSize-22vimZ,.modalHeader-1iFX6c + div{
  width: 600px !important;
}
/*Message Date Appearance Style by Addy*/
.divider-2rZFJK{
  border-top: thin solid rgba(0,0,0,0);
}
.divider-2rZFJK:before{
  content: "";
  height: 2px;
  opacity: 0.4;
  flex-grow: 1;
  background: linear-gradient(to left,var(--from-gradient-color),var(--to-gradient-color));
  margin-right: 0;
  z-index: -1;
}
.divider-2rZFJK:after{
  content: "";
  height: 2px;
  opacity: 0.4;
  flex-grow: 1;
  background: linear-gradient(to right,var(--from-gradient-color),var(--to-gradient-color));
  margin-left: 0;
  z-index: -1;
}
/*server folder transparency*/
.folder-1hbNCn,.folder-1hbNCn:hover,.expandedFolderIconWrapper-Huv7rA,.expandedFolderIconWrapper-Huv7rA:hover{
  background: transparent;
}
/*Yellow Permission Ticks*/
.passthrough--fbdFR.selected-3jieYB{background-color: #ffba00;}
.passthrough--fbdFR:not(.selected-3jieYB) polygon{fill: #ffba00;}

/*Return scrollbars to 10px*/
/*
.contentRegion-3HkfJJ .contentRegionScroller-2_GT_N::-webkit-scrollbar,*/ /*Settings scroll right*/
/*.CodeMirror-vscrollbar::-webkit-scrollbar,*/
/*.perm-scroller::-webkit-scrollbar,*//*Permissions viewer plugin*/
/*.role-scroller::-webkit-scrollbar,*/
/*.scroller-kQBbkU::-webkit-scrollbar,*/ /*Main chatbox scroll bar*/
/*.scroller-39BnzZ::-webkit-scrollbar,*/ /*Role scrollers*/
/*.scroller-1J_F7B::-webkit-scrollbar,*/ /*Audit logs*/
/*.body-1Ukv50::-webkit-scrollbar,*/ /*User modal scrollers*/
/*.peopleList-2VBrVI::-webkit-scrollbar,*/
/*.header-2BwW8b::-webkit-scrollbar,*/ /*user popout*/
/*.sidebarRegionScroller-FXiQOh.thin-31rlnD.scrollerBase-_bVAAt.fade-1R6FHN::-webkit-scrollbar,*//*Settings scroll on left*/
/*.content-2a4AW9::-webkit-scrollbar,*/
/*pre::-webkit-scrollbar,*/ /*Code scrollbars*/
/*.scrollableContainer-15eg7h::-webkit-scrollbar*/ /*Long message scrollbars*/
*::-webkit-scrollbar /*Blanket*/{ 
  width: 10px !important;
}
.channelIcon-3I2O7O{ /*Fix channel icon being dumb*/
  height: 1rem;
}
/*Login screen*/
.authBox-1HR6Ha{
  background: rgba(0,0,0,.8) !important;
}
/*Get rid of tip at bottom of user popout*/
.protip-YaFfgO{
  display:none;
}
.theme-dark .lookGhost-2Fn_0-.colorGrey-2DXtkV{ /*Fix widgets button text not being right*/
  color: #fff;
}
/*Square off the new code previews*/
.footer-GXWBBp,
.textContainer-36wgKK{
  border-radius: 0px;
}
/*2021-03-24 reroll*/
.iconContainer-1KbTnT.checked-2IddOy{
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/*Emote Autocomplete reversion to old style*/
.contentTitle-3CylD3{
  color: var(--text-muted);
}
.autocompleteRowContentPrimary-1kUW9H .colorInteractiveActive-30E9n8{
  font-weight: inherit;
  font-size: 100%;
}
.autocompleteRowContentSecondary-Oobh2b{
  font-size: 14px;
  line-height: 18px;
  color: var(--text-muted);
}
/*---------- Powercord Fixes ----------*/
.user-details{
  margin-top: 20px;
}
.invite-inspector .modal-2RrUKJ{
  background: transparent;
  border-radius: 0px;
}
/*Guild profiles*/
.guild-profile{
  top: 25px;
}
/*In App Notifications*/
.ian-toast .markup-eYLPri{
  text-align: center;
}
/*VC Timer */
.subtext-2HDqJ7 p{
  margin: 0;
}
/*Role color everywhere mentions*/
.topic-KQbDiq .wrapper-1ZcZW-, .topic-KQbDiq .mention, .markup-eYLPri .wrapper-1ZcZW-, .markup-eYLPri .mention, .rolecolor-mention, .rolecolor-mention:hover {
  border-radius: 5px !important;
  transition: ease-in-out .2s !important;
}
/*Theme toggler to top*/
#app-mount .item-3XjbnG[data-item-id="theme-toggler"]{
  order: 1;
}
.item-3XjbnG[data-item-id="pc-moduleManager-themes"] ~ div{
  order: 2;
}
/*Settings*/
.powercord-entities-manage-tabs{
  background-color: rgba(0,0,0,.2) !important;
}
/*PronounDB*/
.userPopout-3XzG_A .note-3HfJZ5{
  margin-bottom: 5px !important;
}
/*Quoter plugin*/
.quoteMessages{
  background: rgba(0,0,0,.2) !important;
}
.blockquoteContainer-3VtvI1 blockquote{
  color: var(--text-color);
}
/*
.modifiedQuote,
.blockquoteContainer-3VtvI1{
  background: rgba(0,0,0,.1) !important; 
}
.modifiedQuote:hover,
.blockquoteContainer-3VtvI1:hover{
  background: rgba(0,0,0,.2) !important; 
}
*/
/*plugin downloader and theme downloader*/
.PluginDownloaderApply:not(.applied) div:hover,
.ThemeDownloaderApply:not(.applied) div:hover,
.powercord-snippet-apply:not(.applied) div:hover{
  background: rgba(0,0,0,.2) !important;
}
/*Alias*/
.powercord-alias-textarea,
.powercord-alias-pair,
.powercord-alias-example{
  background: rgba(0,0,0,.2) !important;
}
.powercord-alias-example,
.powercord-alias-header,
.powercord-alias-textarea{
  color: var(--text-color) !important;
}
.powercord-alias-textarea:focus{
  border-color: var(--main-color) !important;
}
.powercord-alias-textarea{
  height: 190px !important;
}
/*Shiki code blocks*/
.vpc-shiki{ 
  background: rgba(0,0,0,0.2) !important;
}
.vpc-shiki-btn{
  background-color: var(--main-color) !important;
  border-radius: 4px !important;
  right: 4px !important;
  bottom: 4px !important;
}
.vpc-shiki-btn:hover{
  background-color: var(--hover-color) !important;
  transition: ease-in-out .2s;
}
/*---------- Massive Users rewrite ----------*/
/*Popout*/
.userPopout-2j1gM4{
  border-radius: 0px !important;
}
/*Modal*/
/*.root-8LYsGj > .topSectionNormal-y3p-_D,
.body-1Ukv50{
  background: rgba(0, 0, 0, calc(var(--background-shading) * .3)) !important;
}
.root-8LYsGj {
  display: flex;
  flex-direction: row;
  width: 900px;
  height: 600px;
}
.topSection-13QKHs,
.topSectionPlaying-1J5E4n,
.topSectionSpotify-1lI0-P,
.topSectionStreaming-1Tpf5X,
.topSectionXbox-3fWLjS {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.header-S26rhB {
  grid-row-start: 1;
  display: grid;
  grid-template-columns: auto auto 20px;
  grid-template-rows: 110px 60px;
  padding-bottom: 0;
}
.avatar-3QF_VA {
  grid-column-start: 1;
  grid-row-start: 1;
  align-self: start;
  height: 100px !important;
  width: 100px !important;
}
.headerInfo-1Y1Vge {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  align-self: start;
}
.headerInfo-1Y1Vge + div,
.headerInfo-1Y1Vge + button {
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: start;
  justify-self: end;
}
.headerInfo-1Y1Vge + div + div,
.headerInfo-1Y1Vge + button + div {
  align-self: start;
}
.headerInfo-1Y1Vge + div[role=button],
.actionButton-3W1xZa + div[role=button] {
  grid-column-start: 3;
  grid-row-start: 1;
  align-self: start;
  justify-self: start;
}
.customStatus-154i-H {
  word-break: break-word;
}
.additionalActionsIcon-1FoUlE {
  height: 32px;
}
.header-S26rhB + div,
.headerFill-39azRn {
  display: flex;
  flex-direction: column;
}
.activity-2M3PRB{
  grid-row-start: 1;
  grid-column-start: 1;

}
.tabBarContainer-sCZC4w {
  position: absolute;
  top: 550px;
  width: 45.5%;
  z-index: 100;
}
.body-1Ukv50 {
  height: auto !important;
  width: 50%;
}
.profileBadges-9OJ14v{
  position: absolute;
  top: 70px;
  left: 130px;
}
.topSectionPlaying-1J5E4n .bodyNormal-250CQK {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto 64px;
}
.topSectionPlaying-1J5E4n .assets-3PQvAh {
  grid-row-start: 1;
  grid-column-start: 1;
}
.topSectionPlaying-1J5E4n .assetsLargeImageProfile-1TX9jP {
  height: 80px;
  width: 80px;
}
.topSectionPlaying-1J5E4n .actionsProfile-31n1ca {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
}
.topSectionPlaying-1J5E4n .actionsProfile-31n1ca .button-TGAkj4 {
  margin-right: 2px;
  padding: 2px 8px;
}

.topSectionSpotify-1lI0-P .bodyAlignCenter-3E27PU,
.topSectionSpotify-1lI0-P .bodyNormal-250CQK {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto 64px;
}
.topSectionSpotify-1lI0-P .assets-3PQvAh {
  grid-column-start: 1;
  grid-row-start: 1;
}
.topSectionSpotify-1lI0-P .assetsLargeImageProfile-1TX9jP {
  height: 80px;
  width: 80px;
}
.topSectionSpotify-1lI0-P .content-tXPNDw {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  margin-left: 0;
  padding-top: 25px;
}
.topSectionSpotify-1lI0-P .actionsProfile-31n1ca {
  grid-column-start: 2;
  grid-row-start: 1;
}

.topSectionStreaming-1Tpf5X .buttonInvertedPurple-WtBglX {
  padding: 2px 15px;
  align-self: start;
  height: 32px;
  min-height: 32px;
}
.topSectionStreaming-1Tpf5X .buttonInvertedPurple-WtBglX + div[role=button] {
  align-self: start;
}
.topSectionStreaming-1Tpf5X .bodyAlignCenter-3E27PU,
.topSectionStreaming-1Tpf5X .bodyNormal-250CQK {
  display: grid;
  grid-template-columns: auto 100px;
  grid-template-rows: auto 64px;
}
.topSectionStreaming-1Tpf5X .assets-3PQvAh {
  grid-column-start: 1;
  grid-row-start: 1;
}
.topSectionStreaming-1Tpf5X .content-tXPNDw {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  margin-left: 0;
}
.topSectionStreaming-1Tpf5X .actionsProfile-31n1ca {
  grid-column-start: 2;
  grid-row-start: 1;
}

.topSectionXbox-3fWLjS .body-u1Y8uL {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto 64px;
}
.topSectionXbox-3fWLjS .assets-3PQvAh {
  grid-row-start: 1;
  grid-column-start: 1;
}
.topSectionXbox-3fWLjS .content-tXPNDw {
  max-width: 180px;
}
.topSectionXbox-3fWLjS .button-TGAkj4 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-right: 2px;
  padding: 2px 8px;
}
.tabBar-2hXqzU > .item-3XjbnG,
.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG{
  border-radius: 3px;
  max-height: 30px !important;
  animation: cv-slide-top .2s ease-in-out;
}
span.username-3JLfHz.username-3gJmXY {
  text-overflow: ellipsis !important;
  word-break: normal;
}*/
/*---------- Edited Tag ----------*/
.cozyMessage-1DWF9U:not(.systemMessage-1H1Z20) .markup-eYLPri .timestampInline-_lS3aK>[aria-label]::after{
  content:"(edited " attr(aria-label) ")";
  text-transform: lowercase;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1;
}
.cozyMessage-1DWF9U:not(.systemMessage-1H1Z20) .markup-eYLPri .timestampInline-_lS3aK .edited-1v5nT8{
  display: none;
}
/*---------- Hide Things ----------*/
/* Hide Home Nitro button */
.privateChannels-oVe7HL .channel-1Shao0[href="/store"]{
  display: none;
}
/* Makes usernames/timestamps not selectable */
.header-2jRmjb{
  user-select: none;
}
/*---------- Top Bar ----------*/
/*Delete a lot of stuff in dms*/
.container-ZMc96U .children-3xh0VB .nicknames-10Sg6e{
  display: none !important;
}
.container-ZMc96U .children-3xh0VB .status-12NUUC{
  display: none !important;
}
.akaBadge-3i7V3p{
  display: none !important;
}
/*Spacing*/
.container-ZMc96U .children-3xh0VB{
  flex: none;
  min-width: 230px;
}
.container-ZMc96U .children-3xh0VB .iconWrapper-2awDjA{
  margin: 0 10px 0 0;
}
.container-ZMc96U .children-3xh0VB .iconWrapper-2awDjA .icon-2xnN2Y{
  width: 20px;
}
/*Channel Name*/
.container-ZMc96U .children-3xh0VB .iconWrapper-2awDjA .channelName-3aS_Eg{
  margin: 0;
}
/*Defines two layers*/
.container-ZMc96U .children-3xh0VB h3{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  user-select: none;
  line-height: normal;
  flex: 1;
}
/*Deletes the divider*/
.divider-q3P9HC{
  display: none;
}
/*Some stolen code*/
.container-ZMc96U .children-3xh0VB h3:before{
  display: block;
  content: "Channel Name";
  font-size: 11px;
}
.container-ZMc96U:hover > .children-3xh0VB h3:before{
  content: "Click for more details (if possible)";
}
/*Makes descriptions clickable and not visible*/
#app-mount .container-ZMc96U.themed-Hp1KC_ .children-3xh0VB .topic-KQbDiq{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
/*Search margins*/
.container-ZMc96U .search-39IXmY{
  margin-top: 4px;
  margin-left: -18px;
}
.container-ZMc96U .toolbar-3_r2xA{
  /*margin-left:10%;*/
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);/*This centers it,but completely screws up search bar*/
  border-right: 1px solid #6f727d;
  border-left: 1px solid #6f727d;
}
/*moved search bar to center btw after input from user 379052485819498507,comments above are redundant*/
/*Adds spacing between items on the toolbar*/
.container-ZMc96U .toolbar-3_r2xA .iconWrapper-2awDjA{
  margin: 0px 10px;
}
/*Make this normal looking*/
.container-ZMc96U .searchBar-zdmu7v{
  padding: 0 !important;
  overflow: visible;
  background: transparent;
}
/*Offset*/
.container-ZMc96U .DraftEditor-root{
  padding: 0 10px 0 28px;
  margin-top: 3px;
}
/*---------- Usernames and Spacing ----------*/
/*Smaller usernames*/
.username-h_Y3Us{
  font-size: 15px !important;
}
/*Standardizes some stuff*/
.username-h_Y3Us:hover{
  color: var(--hover-color) !important;
}
.contents-2MsGLg > img ~ .header-2jRmjb > span.username-h_Y3Us:hover::after
{
  color: var(--hover-color);
  text-shadow: 0px 0px 10px var(--hover-color);
}
/*Makes messages clsoer together*/
.cozyMessage-1DWF9U{
  margin-bottom: -4px;
}
/*Hover for cool little bump*/
.profileBadge-12r2Nm{
  transition: 0.4s;
}
.profileBadge-12r2Nm:hover{
  transform: translateY(-1px);
}
/*---------- NSFW Tag ----------*/
[aria-label*="(NSFW)"] ~ .name-28HaxV .channelName-3KPsGw:after,
[aria-label*="(NSFW - per adulti)"] ~ .name-28HaxV .channelName-3KPsGw:after,
[aria-label*="(NSD)"] ~ .name-28HaxV .channelName-3KPsGw:after,
[aria-label*="(Conteúdo adulto)"] ~ .name-28HaxV .channelName-3KPsGw:after,
[aria-label*="(NSFW (aikuissisältö; ei katseltavaksi työtilanteissa))"] ~ .name-28HaxV .channelName-3KPsGw:after,
[aria-label*="(Ακατάλληλο NSFW περιεχόμενο)"] ~ .name-28HaxV .channelName-3KPsGw:after,
[aria-label*="(откровенный контент)"] ~ .name-28HaxV .channelName-3KPsGw:after,
[aria-label*="(не для перегляду на роботі)"] ~ .name-28HaxV .channelName-3KPsGw:after,
[aria-label*="（少儿不宜）"] ~ .name-28HaxV .channelName-3KPsGw:after,
[aria-label*="(NSFW<閲覧注意>)"] ~ .name-28HaxV .channelName-3KPsGw:after,
[aria-label*="(限制級)"] ~ .name-28HaxV .channelName-3KPsGw:after,
[aria-label*="(연령 제한)"] ~ .name-28HaxV .channelName-3KPsGw:after{
  content: 'nsfw';
  color: white;
  font: var(--main-font);
  font-size: 14px;
  background: black;
  text-shadow: 0 0 2px currentcolor;
  border: 2px solid red;
  border-radius: 4px;
  padding: 1px 3px;
  margin-left: 5px;
}
/*---------- Square Stuff ----------*/
/*Square Chat Avatars*/
.avatar-2e8lTP{
  border: 2.5px solid var(--main-color) !important;/*
  width: 35px !important;
  height: 35px !important;*/
  border-radius: var(--square-border-radius) !important;
  background-size: cover !important;
}
/*Square vc pfp*/
[class*="avatar"],
[class*="avatar"] * img{
  border-radius: var(--square-border-radius) !important;
}
/* Thanks Jay Wilson */
.wrapper-3mYmFS foreignObject{
  mask: none;
}
/*Calling*/
.voiceAvatar-lRbblo,
.border-2BJQjd,
.wrapper-3mYmFS.ringingIncoming-fibTw-:after,
.wrapper-3mYmFS.ringingOutgoing-1NjfRn:after{
  border-radius: var(--square-border-radius);
}
/*New Reply System*/
.replyAvatar-sHd2sU,.replyBadge-LMm_Ic{
  border-radius: var(--square-border-radius) !important;
}
/*Square off the new code previews*/
.footer-GXWBBp,
.textContainer-36wgKK{ 
  border-radius: 0px;
}
/*---------- Borders ----------*/
/*A border for user profiles,popouts*/
.root-8LYsGj,
.userPopout-2j1gM4{
  border: 2px solid var(--main-color);
}
.uploadModal-2ie9O_,
.root-8LYsGj,
.quickswitcher-pKcM9U{
  border-radius: 0px !important;
}
/*---------- Pings and Voice ----------*/
/*Fancier Pings*/
.numberBadge-37OJ3S,
.iconBadge-3qSJIw /*Voice/stage/sharing icons*/
{ 
  background-color: black !important;
  height: 18px;
  width: 18px !important;
  margin-bottom: -3px;
  margin-right: -5px;
  border: 1px solid var(--main-color);
  filter: drop-shadow(0 0 4px var(--main-color));
}
.theme-dark .mentioned-Tre-dv,
.message-2CShn3.mentioned-Tre-dv.selected-2LX7Jy,
.mouse-mode.full-motion .mentioned-Tre-dv:hover{
  border: 2px solid var(--ping-border-color);
  background-image: linear-gradient(var(--gradient-rotation),var(--ping-gradient-color),var(--ping-fill-color)) !important;
}
.mouse-mode.full-motion .mentioned-Tre-dv:hover{
  background-image: linear-gradient(var(--gradient-rotation),var(--hover-gradient-color),var(--hover-ping-fill-color)) !important;
  border: 2px solid var(--hover-ping-border-color);
}
/*---------- Color! ----------*/
.textArea-2CLwUE.slateContainer-3x9zil > .markup-eYLPri,/*Typing area*/
.guildNameText-jBFbNC,/*Server names on hover*/
.markupRtl-3M0hmN,
.messageContent-2t3eCI,
.tooltipContent-Nejnvh{
  color: var(--text-color) !important;
}
/*---------- Glow ----------*/
.childWrapper-1j_1ub:hover,
.childWrapper-1j_1ub{
  background: transparent !important;
}
/*Glow on hovering a server*/
.blobContainer-pmnxKB:hover,
.homeIcon-FuNwkv:hover{
  box-shadow: 0 0 30px 0 var(--main-color);
  border-radius: var(--circle-border-radius);
  /*transition: box-shadow 200ms;*/ /*this results in some visual glitch when you hover the selected channel*/
}
/*Glow on selected server*/
.selected-1Drb7Z:not(:hover){
  box-shadow: 0 0 30px 0 var(--main-color);
  overflow: visible !important;
  border-radius: var(--circle-border-radius);
}
/*Thanks tropical - gets rid of overflow. Screws up a lot of stuff,had to compensate in gradients and otherwise*/
.wrapper-28eC3z foreignObject{
  mask:none;
  overflow:visible;
}
.acronym-2zrAHN,.icon-3AqZ2e:not(:hover),.homeIcon-FuNwkv,.circleIconButton-1QV--U,
.listAvatar-2bU5Uh{/*Force Circular Servers on Hover*/
  border-radius: var(--circle-border-radius) !important;
}
/*---------- Gradients ----------*/
.theme-dark .footer-31IekZ .button-38aScr,
.lookFilled-1Gx00P.colorGrey-2DXtkV,
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG,/* discover tab */
.unread-2wipsx:after,.mention-3XBnnZ:after,/* unread channels bar */
.menu-1QACrS:not(#status-picker) .colorDefault-CDqZdO.focused-3qFvc8,.menu-1QACrS:not(#status-picker) .colorDefault-CDqZdO:hover:not(.hideInteraction-2jPGL_),/* dropdown menu */
.appMount-2yBXZl .lookFilled-1Gx00P.colorGreen-29iAKY:disabled,.appMount-2yBXZl .lookFilled-1Gx00P.colorPrimary-3b3xI6:disabled,/* disabled buttons */
.lookInverted-2D7oAl,.lookInverted-2D7oAl.colorBrand-3pXr91,.lookInverted-2D7oAl.colorGreen-29iAKY,/* more buttons */
.newMessagesBar-1hF-9G:before,/* new message bar */
.jumpToPresentBar-1cEnH0:hover,/* jump to present bar */
.privateChannels-oVe7HL .channel-1Shao0.selected-1-Z6gm .layout-1qmrhw:after,
.popout-3gby1q .tag-15zcD_,
.tab-2j5AEF.selected-2LAck8:after,
.layer-2aCOJ3 .themedPopout-1TrfdI .header-1w9Q93,
.appMount-2yBXZl .lookFilled-1Gx00P.colorGreen-29iAKY,
.appMount-2yBXZl .lookFilled-1Gx00P.colorBrand-3pXr91,
.appMount-2yBXZl .lookFilled-1Gx00P.colorPrimary-3b3xI6,
.acronym-2zrAHN,.acronym-2zrAHN:hover,
.circleIconButton-1QV--U:hover,.circleIconButton-1QV--U.selected-1JjBPm,
.modeSelected-3DmyhH .content-1gYQeQ,
.wrapper-NhbLHG.modeSelected-3DmyhH .content-1gYQeQ:after,
.container-ZMc96U .topPill-3DJJNV .item-3XjbnG.selected-g-kMVV.themed-2-lozF,
.standardSidebarView-E9Pc3j .sidebar-nqHbhN .side-2ur1Qk .item-3XjbnG.selected-g-kMVV,
.layer-86YKbF .standardSidebarView-E9Pc3j .sidebar-nqHbhN .side-2ur1Qk .item-3XjbnG.selected-g-kMVV:after,
.appMount-2yBXZl .lookFilled-1Gx00P.colorGreen-29iAKY,.appMount-2yBXZl .lookFilled-1Gx00P.colorBrand-3pXr91,.appMount-2yBXZl .lookFilled-1Gx00P.colorPrimary-3b3xI6,/* buttons for days */
.item-2idW98[style*="background-color"],
.selected-18Wszc.option-1QI4c9,
.chat-2ZfjoI .divider-3gKybi.dividerRed-MKoLlr:before,
.tab-2j5AEF.selected-2LAck8, /*Search buttons*/
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF,
.theme-dark .memberListItem-31QoHj:not(.popoutDisabled-2RK7MF):hover,
.unread-2wipsx:active,.unread-2wipsx:hover,/*New Unreads bar*/
.standardSidebarView-E9Pc3j .sidebar-nqHbhN .side-2ur1Qk .item-3XjbnG.selected-g-kMVV:after,.standardSidebarView-E9Pc3j .sidebar-nqHbhN .side-2ur1Qk .item-3XjbnG[style*="color: rgb(255,255,255)"]:after,/* selected things */
.item-2idW98[aria-checked=true] .radioBar-3w9XY-,/*Voice Settings: Input Mode*/
.navButtonActive-1EqC5l,/*New emote popup button*/
.item-3XjbnG.selected-g-kMVV, /*Role settings*/
.container-3EtAkD, /*Default @everyone permissions in server settings*/
.avatarUploaderIndicator-2G-aIZ, /*Image upload button in settings*/
.standardSidebarView-E9Pc3j .sidebar-nqHbhN .side-2ur1Qk .item-3XjbnG[style*="color: rgb(255, 255, 255)"],/*Subscriptions settings tab*/
.unicodeShortcut-3N8oDe,/*Shortcut in emote list*/
.tabBar-2hXqzU > .item-3XjbnG:after,/*User Modal Tabs when doing an activity*/
.colorable-3rVGna.white-11auuQ, /*Vc mute button*/
.lookGhost-2Fn_0-.colorGrey-2DXtkV /*Voice Settings: Shortcut bind*/
{
  background-image: linear-gradient(var(--gradient-rotation),var(--from-gradient-color),var(--to-gradient-color)) !important;
  background-color: var(--main-color);
}
.members-3WRCEx .membersGroup-2eiWxl,
.sidebar-1tnWFu .containerDefault-3TQ5YN .wrapper-1S43wv .name-3BUDLf .overflow-1wOqNV,/*Thx Addy*/
.headerText-1qIDDT,.discoverHeader-1TWTqG,
.header-2Kx1US
{
  background-image: linear-gradient(var(--gradient-rotation),var(--from-gradient-color),var(--to-gradient-color)) !important;
  -webkit-background-clip: text;
  color: transparent !important;
}
.members-3WRCEx .membersGroup-2eiWxl:before,
.name-3BUDLf:before,
.privateChannelsHeaderContainer-1UWASm:before,
.discoverHeader-1TWTqG:before,
.sidebar-nqHbhN .header-2Kx1US:before /*Settings bars*/
{
  background: linear-gradient(to left,var(--from-gradient-color) 50%,transparent) !important;
}
.members-3WRCEx .membersGroup-2eiWxl:after,
.name-3BUDLf:after,
.privateChannelsHeaderContainer-1UWASm:after,
.discoverHeader-1TWTqG:after,
.sidebar-nqHbhN .header-2Kx1US:after /*Settings bars*/
{
  background: linear-gradient(to right,var(--from-gradient-color) 50%,transparent) !important;
}
/*---------- FANCY CODE ----------*/
/*Thank you gibbu*/
#app-mount pre{
  background: rgba(0,0,0,.4) !important;
  max-width: 100%;
  border-radius: 0px;
}
#app-mount pre code{
  background: transparent;
}
#app-mount pre code .hljs-built_in,
#app-mount pre code .hljs-doctag,
#app-mount pre code .hljs-literal,
#app-mount pre code .hljs-meta .hljs-meta-string,
#app-mount pre code .hljs-number,
#app-mount pre code .hljs-regexp,
#app-mount pre code .hljs-selector-class{
  color: #b392f0;
}
#app-mount pre code .hljs-attribute,
#app-mount pre code .hljs-name,
#app-mount pre code .hljs-section,
#app-mount pre code .hljs-selector-class,
#app-mount pre code .hljs-selector-id,
#app-mount pre code .hljs-string,
#app-mount pre code .hljs-title{
  color: #79b8ff;
}
#app-mount pre code .hljs-attr,
#app-mount pre code .hljs-attribute,
#app-mount pre code .hljs-bullet,
#app-mount pre code .hljs-class,
#app-mount pre code .hljs-link,
#app-mount pre code .hljs-meta,
#app-mount pre code .hljs-meta .hljs-keyword,
#app-mount pre code .hljs-selector-attr,
#app-mount pre code .hljs-selector-pseudo,
#app-mount pre code .hljs-subst,
#app-mount pre code .hljs-symbol,
#app-mount pre code .hljs-template-variable,
#app-mount pre code .hljs-title,
#app-mount pre code .hljs-type,
#app-mount pre code .hljs-variable{
  color: #ffab70;
}
#app-mount pre code .hljs-addition,
#app-mount pre code .hljs-keyword,
#app-mount pre code .hljs-selector-tag{
  color: #56b6c2;
}
#app-mount pre code .hljs-comment,
#app-mount pre code .hljs-quote{
  color: #959da5;
}
/*---------- Permissions Viewer Fix ----------*/
#permissions-modal-wrapper .callout-backdrop,
#permissions-modal-wrapper .role-side,
#permissions-modal-wrapper .perm-side,
#permissions-modal-wrapper .modal-body,
.theme-light #permissions-modal-wrapper #permissions-modal,
.theme-dark #permissions-modal-wrapper #permissions-modal
{
  background: rgba(0,0,0,.2) !important;
}
#permissions-modal-wrapper .header
{
  background: rgba(0,0,0,.4) !important;
  border-bottom: 2px solid var(--main-color) !important;
}
#permissions-modal-wrapper .role-item.selected
{
  background: rgba(0,0,0,.6) !important;
  border: 2px solid var(--main-color) !important;
}
#permissions-modal-wrapper .role-item
{
  border: 2px solid transparent !important;
}
.member-perms::-webkit-scrollbar-thumb,
#permissions-modal-wrapper *::-webkit-scrollbar-thumb{
  background-color: var(--main-color) !important;
}
/*---------- Better Formatting Fix ----------*/
/*Lazy blanket that makes entire thing transparent*/
.bf-toolbar.bf-hover:hover:before,
.bf-toolbar.bf-visible:before,
.bf-toolbar:before{
  background: rgba(0,0,0,.2) !important;
}
/*---------- Channel Tabs Fix ----------*/
/*Fixing unthemed tabs*/
.channelTabs-tab{
  background: rgba(0,0,0,.2) !important;
  border-radius: 0px !important;
}
.channelTabs-tabContainer{
  background: transparent !important;
}
.channelTabs-tab:hover{
  background: rgba(0,0,0,.3) !important;
}
.channelTabs-selected:hover,
.channelTabs-fav:hover{
  background: rgba(0,0,0,.5) !important;
}
.channelTabs-selected,
.channelTabs-fav,
.channelTabs-favContainer{
  background: rgba(0,0,0,.4) !important;
}
/*Squaring icon*/
.channelTabs-tabIcon,
.channelTabs-favIcon{
  border-radius: var(--square-border-radius) !important;
}
.channelTabs-fav{
  border-radius: 0px !important;
  /*border-left: 2px solid var(--main-color);
  border-right: 2px solid var(--main-color);*/
}
/*Colors and fonts*/
.channelTabs-tabName,
.channelTabs-tabIcon ~ .channelTabs-tabName,
.channelTabs-favIcon ~ .channelTabs-favName{
  font: var(--main-font) !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  color: var(--text-color) !important;
}
.channelTabs-newTab:hover{
  background: var(--hover-color) !important; 
  color: white !important;
}
.channelTabs-newTab{
  background: var(--main-color) !important; 
  color: white !important;
}
.channelTabs-closeTab,
.channelTabs-selected .channelTabs-closeTab{
  background: transparent !important; 
  color: white !important;
}
.channelTabs-closeTab:hover,
.channelTabs-selected .channelTabs-closeTab:hover{
  background: transparent !important; 
  color: var(--hover-color) !important;
}
.channelTabs-mentionBadge{
  background-color: var(--main-color) !important;
}
.channelTabs-unreadBadge{
  background-color: black !important;
}
.channelTabs-favMentionBadge,
.channelTabs-favUnreadBadge,
.channelTabs-fav .channelTabs-noMention,
.channelTabs-fav .channelTabs-noUnread{
  color: white !important;
}
.channelTabs-noFavNotice{
  color: var(--text-color) !important;
  font: var(--main-font) !important;
}
/*---------- DateViewer ----------*/
/*Make the DateViewer plugin background transparent*/
#dv-mount{
  background: rgba(0,0,0,.2);
  font: var(--main-font);
}
/*
.dv-time,.dv-weekday,#dv-main .dv-date,.layer-2aCOJ3{
  color: var(--text-color) !important;
}*/ /*Changes DV Text Colors; if you think this is aids,comment it*/
