/*---------- Credits ----------*/
/*
Hello curious coder! This is the repository for my powercord preset. 
If you want to use code from here, just dm me at Nyx#9567 (user ID 393900343135830016)
Be forewarned that not everything may work as intended and all the parts of this code
are created to work together and sometimes not apart,and a lot of this code was 
made with the help of others.
*/
/*---------- CV Fixes ----------*/
/*Conf applies to base theme as well*/
/*Spinning profile popout logo thing*/
.loadingPopout-qYljDW,
.spinner-2enMB9 {
  background: transparent;
}
/*Fix to the profile popout having a margin on right*/
.userPopout-3XzG_A:before{
  margin: 0px;
}
/*Button (like when joining or leaving servers etc) fix*/
.footer-2gL1pp .button-38aScr:nth-child(2){
  margin-right: 5px;
}
.fullScreen-1tMzXY .flexCenter-2Y_vCg{ /*Fullscreen share*/
  background: rgba(0, 0, 0, calc(var(--background-shading) * .6));
}
.note-1oo11U{
  margin-left:0;
  margin-bottom:10px;
} /*Discord fix ur dumb notes margin*/

.animatorLeft-1EQxU0 > .userPopout-xaxa6l{
  margin-right: 0px;
}
/*Create New Server Menu,. makes hover grey*/
.container-UC8Ug1{
  background: rgba(0,0,0,.2) !important;
}
.container-UC8Ug1:hover{
  background: var(--hover-color) !important;
}
/*Make Input Box Lighter*/
.channelTextArea-rNsIhG,
.channelTextArea-2VhZ6z{
  background: rgba(0,0,0,.2) !important;
}
.clipContainer-eeROt0{
  border-radius: 8px;
}
/*Dashed border when replying*/
.container-2fRDfG{
  background: transparent !important;
  border-bottom: 1px dashed var(--main-color);
}
/*Share Screen Modal Width by Addy*/
.modalSize-cqUaws,.modalHeader-19eoYJ + div{
  width: 600px !important;
}
/*Message Date Appearance Style by Addy*/
.divider-JfaTT5{
  border-top: thin solid rgba(0,0,0,0);
}
.divider-JfaTT5:before{
  content: "";
  height: 2px;
  opacity: 0.4;
  flex-grow: 1;
  background: linear-gradient(to left,var(--from-gradient-color),var(--to-gradient-color));
  margin-right: 0;
  z-index: -1;
}
.divider-JfaTT5:after{
  content: "";
  height: 2px;
  opacity: 0.4;
  flex-grow: 1;
  background: linear-gradient(to right,var(--from-gradient-color),var(--to-gradient-color));
  margin-left: 0;
  z-index: -1;
}
/*server folder transparency*/
.folder-1hbNCn,.folder-1hbNCn:hover,.expandedFolderIconWrapper-Huv7rA,.expandedFolderIconWrapper-Huv7rA:hover{
  background: transparent;
}
/*Yellow Permission Ticks*/
.passthrough-1c2ewQ.selected-2YhbGh{background-color: #ffba00;}
.passthrough-1c2ewQ:not(.selected-2YhbGh) polygon{fill: #ffba00;}

/*Return scrollbars to 10px*/
/*
.contentRegion-3nDuYy .contentRegionScroller-26nc1e::-webkit-scrollbar,*/ /*Settings scroll right*/
/*.CodeMirror-vscrollbar::-webkit-scrollbar,*/
/*.perm-scroller::-webkit-scrollbar,*//*Permissions viewer plugin*/
/*.role-scroller::-webkit-scrollbar,*/
/*.scroller-2LSbBU::-webkit-scrollbar,*/ /*Main chatbox scroll bar*/
/*.scroller-3ZpLaI::-webkit-scrollbar,*/ /*Role scrollers*/
/*.scroller-1J_F7B::-webkit-scrollbar,*/ /*Audit logs*/
/*.body-r6_QPy::-webkit-scrollbar,*/ /*User modal scrollers*/
/*.peopleList-3c4jOR::-webkit-scrollbar,*/
/*.header-2BwW8b::-webkit-scrollbar,*/ /*user popout*/
/*.sidebarRegionScroller-3MXcoP.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2::-webkit-scrollbar,*//*Settings scroll on left*/
/*.content-3YMskv::-webkit-scrollbar,*/
/*pre::-webkit-scrollbar,*/ /*Code scrollbars*/
/*.scrollableContainer-2NUZem::-webkit-scrollbar*/ /*Long message scrollbars*/
*::-webkit-scrollbar /*Blanket*/{ 
  width: 10px !important;
}
.channelIcon-1MN1lz{ /*Fix channel icon being dumb*/
  height: 1rem;
}
/*Login screen*/
.authBox-hW6HRx{
  background: rgba(0,0,0,.8) !important;
}
/*Get rid of tip at bottom of user popout*/
.protip-YaFfgO{
  display:none;
}
.theme-dark .lookGhost-2Fn_0-.colorGrey-2DXtkV{ /*Fix widgets button text not being right*/
  color: #fff;
}
/*Square off the new code previews*/
.footer-2yA7Ep,
.textContainer-C0szpm{
  border-radius: 0px;
}
/*2021-03-24 reroll*/
.iconContainer-2SYmeK.checked-1Gs3_E{
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/*Emote Autocomplete reversion to old style*/
.contentTitle-2tG_sM{
  color: var(--text-muted);
}
.autocompleteRowContentPrimary-238PvP .colorInteractiveActive-3Ip9Eu{
  font-weight: inherit;
  font-size: 100%;
}
.autocompleteRowContentSecondary-1tgI-F{
  font-size: 14px;
  line-height: 18px;
  color: var(--text-muted);
}
/*---------- Powercord Fixes ----------*/
.user-details{
  margin-top: 20px;
}
.invite-inspector .modal-yWgWj-{
  background: transparent;
  border-radius: 0px;
}
/*Guild profiles*/
.guild-profile{
  top: 25px;
}
/*In App Notifications*/
.ian-toast .markup-2BOw-j{
  text-align: center;
}
/*VC Timer */
.subtext-3CDbHg p{
  margin: 0;
}
/*Role color everywhere mentions*/
.topic-TCb_qw .wrapper-3WhCwL, .topic-TCb_qw .mention, .markup-2BOw-j .wrapper-3WhCwL, .markup-2BOw-j .mention, .rolecolor-mention, .rolecolor-mention:hover {
  border-radius: 5px !important;
  transition: ease-in-out .2s !important;
}
/*Theme toggler to top*/
#app-mount .item-PXvHYJ[data-item-id="theme-toggler"]{
  order: 1;
}
.item-PXvHYJ[data-item-id="pc-moduleManager-themes"] ~ div{
  order: 2;
}
/*Settings*/
.powercord-entities-manage-tabs{
  background-color: rgba(0,0,0,.2) !important;
}
/*PronounDB*/
.userPopout-3XzG_A .note-3HfJZ5{
  margin-bottom: 5px !important;
}
/*Quoter plugin*/
.quoteMessages{
  background: rgba(0,0,0,.2) !important;
}
.blockquoteContainer-U5TVEi blockquote{
  color: var(--text-color);
}
/*
.modifiedQuote,
.blockquoteContainer-U5TVEi{
  background: rgba(0,0,0,.1) !important; 
}
.modifiedQuote:hover,
.blockquoteContainer-U5TVEi:hover{
  background: rgba(0,0,0,.2) !important; 
}
*/
/*plugin downloader and theme downloader*/
.PluginDownloaderApply:not(.applied) div:hover,
.ThemeDownloaderApply:not(.applied) div:hover,
.powercord-snippet-apply:not(.applied) div:hover{
  background: rgba(0,0,0,.2) !important;
}
/*Alias*/
.powercord-alias-textarea,
.powercord-alias-pair,
.powercord-alias-example{
  background: rgba(0,0,0,.2) !important;
}
.powercord-alias-example,
.powercord-alias-header,
.powercord-alias-textarea{
  color: var(--text-color) !important;
}
.powercord-alias-textarea:focus{
  border-color: var(--main-color) !important;
}
.powercord-alias-textarea{
  height: 190px !important;
}
/*Shiki code blocks*/
.vpc-shiki{ 
  background: rgba(0,0,0,0.2) !important;
}
.vpc-shiki-btn{
  background-color: var(--main-color) !important;
  border-radius: 4px !important;
  right: 4px !important;
  bottom: 4px !important;
}
.vpc-shiki-btn:hover{
  background-color: var(--hover-color) !important;
  transition: ease-in-out .2s;
}
/*---------- Massive Users rewrite ----------*/
/*Popout*/
.userPopout-xaxa6l{
  border-radius: 0px !important;
}
/*Modal*/
/*.root-3QyAh1 > .topSectionNormal-y3p-_D,
.body-r6_QPy{
  background: rgba(0, 0, 0, calc(var(--background-shading) * .3)) !important;
}
.root-3QyAh1 {
  display: flex;
  flex-direction: row;
  width: 900px;
  height: 600px;
}
.topSection-y3p-_D,
.topSectionPlaying-1J5E4n,
.topSectionSpotify-1lI0-P,
.topSectionStreaming-1Tpf5X,
.topSectionXbox-3fWLjS {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.header-4zuFdR {
  grid-row-start: 1;
  display: grid;
  grid-template-columns: auto auto 20px;
  grid-template-rows: 110px 60px;
  padding-bottom: 0;
}
.avatar-AvHqJA {
  grid-column-start: 1;
  grid-row-start: 1;
  align-self: start;
  height: 100px !important;
  width: 100px !important;
}
.headerInfo-1Y1Vge {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  align-self: start;
}
.headerInfo-1Y1Vge + div,
.headerInfo-1Y1Vge + button {
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: start;
  justify-self: end;
}
.headerInfo-1Y1Vge + div + div,
.headerInfo-1Y1Vge + button + div {
  align-self: start;
}
.headerInfo-1Y1Vge + div[role=button],
.actionButton-3W1xZa + div[role=button] {
  grid-column-start: 3;
  grid-row-start: 1;
  align-self: start;
  justify-self: start;
}
.customStatus-154i-H {
  word-break: break-word;
}
.additionalActionsIcon-1FoUlE {
  height: 32px;
}
.header-4zuFdR + div,
.headerFill-39azRn {
  display: flex;
  flex-direction: column;
}
.activity-2M3PRB{
  grid-row-start: 1;
  grid-column-start: 1;

}
.tabBarContainer-37hZsr {
  position: absolute;
  top: 550px;
  width: 45.5%;
  z-index: 100;
}
.body-r6_QPy {
  height: auto !important;
  width: 50%;
}
.profileBadges-9OJ14v{
  position: absolute;
  top: 70px;
  left: 130px;
}
.topSectionPlaying-1J5E4n .bodyNormal-2D39hT {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto 64px;
}
.topSectionPlaying-1J5E4n .assets-VMAukC {
  grid-row-start: 1;
  grid-column-start: 1;
}
.topSectionPlaying-1J5E4n .assetsLargeImageProfile-3YXDex {
  height: 80px;
  width: 80px;
}
.topSectionPlaying-1J5E4n .actionsProfile-jEtjVX {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
}
.topSectionPlaying-1J5E4n .actionsProfile-jEtjVX .button-2IFFQ4 {
  margin-right: 2px;
  padding: 2px 8px;
}

.topSectionSpotify-1lI0-P .bodyAlignCenter-1KzvJk,
.topSectionSpotify-1lI0-P .bodyNormal-2D39hT {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto 64px;
}
.topSectionSpotify-1lI0-P .assets-VMAukC {
  grid-column-start: 1;
  grid-row-start: 1;
}
.topSectionSpotify-1lI0-P .assetsLargeImageProfile-3YXDex {
  height: 80px;
  width: 80px;
}
.topSectionSpotify-1lI0-P .content-3JfFJh {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  margin-left: 0;
  padding-top: 25px;
}
.topSectionSpotify-1lI0-P .actionsProfile-jEtjVX {
  grid-column-start: 2;
  grid-row-start: 1;
}

.topSectionStreaming-1Tpf5X .buttonInvertedPurple-WtBglX {
  padding: 2px 15px;
  align-self: start;
  height: 32px;
  min-height: 32px;
}
.topSectionStreaming-1Tpf5X .buttonInvertedPurple-WtBglX + div[role=button] {
  align-self: start;
}
.topSectionStreaming-1Tpf5X .bodyAlignCenter-1KzvJk,
.topSectionStreaming-1Tpf5X .bodyNormal-2D39hT {
  display: grid;
  grid-template-columns: auto 100px;
  grid-template-rows: auto 64px;
}
.topSectionStreaming-1Tpf5X .assets-VMAukC {
  grid-column-start: 1;
  grid-row-start: 1;
}
.topSectionStreaming-1Tpf5X .content-3JfFJh {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  margin-left: 0;
}
.topSectionStreaming-1Tpf5X .actionsProfile-jEtjVX {
  grid-column-start: 2;
  grid-row-start: 1;
}

.topSectionXbox-3fWLjS .body-ZAhrcj {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto 64px;
}
.topSectionXbox-3fWLjS .assets-VMAukC {
  grid-row-start: 1;
  grid-column-start: 1;
}
.topSectionXbox-3fWLjS .content-3JfFJh {
  max-width: 180px;
}
.topSectionXbox-3fWLjS .button-2IFFQ4 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-right: 2px;
  padding: 2px 8px;
}
.tabBar-3nvOPa > .item-PXvHYJ,
.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ{
  border-radius: 3px;
  max-height: 30px !important;
  animation: cv-slide-top .2s ease-in-out;
}
span.username-2b1r56.username-3gJmXY {
  text-overflow: ellipsis !important;
  word-break: normal;
}*/
/*---------- Edited Tag ----------*/
.cozyMessage-3V1Y8y:not(.systemMessage-1I9LCe) .markup-2BOw-j .timestampInline-yHQ6fX>[aria-label]::after{
  content:"(edited " attr(aria-label) ")";
  text-transform: lowercase;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1;
}
.cozyMessage-3V1Y8y:not(.systemMessage-1I9LCe) .markup-2BOw-j .timestampInline-yHQ6fX .edited-3sfAzf{
  display: none;
}
/*---------- Hide Things ----------*/
/* Hide Home Nitro button */
.privateChannels-1nO12o .channel-2QD9_O[href="/store"]{
  display: none;
}
/* Makes usernames/timestamps not selectable */
.header-23xsNx{
  user-select: none;
}
/*---------- Top Bar ----------*/
/*Delete a lot of stuff in dms*/
.container-1r6BKw .children-19S4PO .nicknames-1XK4Zt{
  display: none !important;
}
.container-1r6BKw .children-19S4PO .status-1XNdyw{
  display: none !important;
}
.akaBadge-1M-1Gw{
  display: none !important;
}
/*Spacing*/
.container-1r6BKw .children-19S4PO{
  flex: none;
  min-width: 230px;
}
.container-1r6BKw .children-19S4PO .iconWrapper-2OrFZ1{
  margin: 0 10px 0 0;
}
.container-1r6BKw .children-19S4PO .iconWrapper-2OrFZ1 .icon-22AiRD{
  width: 20px;
}
/*Channel Name*/
.container-1r6BKw .children-19S4PO .iconWrapper-2OrFZ1 .channelName-qsg_a_{
  margin: 0;
}
/*Defines two layers*/
.container-1r6BKw .children-19S4PO h3{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  user-select: none;
  line-height: normal;
  flex: 1;
}
/*Deletes the divider*/
.divider-3FBTu8{
  display: none;
}
/*Some stolen code*/
.container-1r6BKw .children-19S4PO h3:before{
  display: block;
  content: "Channel Name";
  font-size: 11px;
}
.container-1r6BKw:hover > .children-19S4PO h3:before{
  content: "Click for more details (if possible)";
}
/*Makes descriptions clickable and not visible*/
#app-mount .container-1r6BKw.themed-ANHk51 .children-19S4PO .topic-TCb_qw{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
/*Search margins*/
.container-1r6BKw .search-36MZv-{
  margin-top: 4px;
  margin-left: -18px;
}
.container-1r6BKw .toolbar-1t6TWx{
  /*margin-left:10%;*/
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);/*This centers it,but completely screws up search bar*/
  border-right: 1px solid #6f727d;
  border-left: 1px solid #6f727d;
}
/*moved search bar to center btw after input from user 379052485819498507,comments above are redundant*/
/*Adds spacing between items on the toolbar*/
.container-1r6BKw .toolbar-1t6TWx .iconWrapper-2OrFZ1{
  margin: 0px 10px;
}
/*Make this normal looking*/
.container-1r6BKw .searchBar-3dMhjb{
  padding: 0 !important;
  overflow: visible;
  background: transparent;
}
/*Offset*/
.container-1r6BKw .DraftEditor-root{
  padding: 0 10px 0 28px;
  margin-top: 3px;
}
/*---------- Usernames and Spacing ----------*/
/*Smaller usernames*/
.username-1A8OIy{
  font-size: 15px !important;
}
/*Standardizes some stuff*/
.username-1A8OIy:hover{
  color: var(--hover-color) !important;
}
.contents-2mQqc9 > img ~ .header-23xsNx > span.username-1A8OIy:hover::after
{
  color: var(--hover-color);
  text-shadow: 0px 0px 10px var(--hover-color);
}
/*Makes messages clsoer together*/
.cozyMessage-3V1Y8y{
  margin-bottom: -4px;
}
/*Hover for cool little bump*/
.profileBadge-2niAfJ{
  transition: 0.4s;
}
.profileBadge-2niAfJ:hover{
  transform: translateY(-1px);
}
/*---------- NSFW Tag ----------*/
[aria-label*="(NSFW)"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="(NSFW - per adulti)"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="(NSD)"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="(Conteúdo adulto)"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="(NSFW (aikuissisältö; ei katseltavaksi työtilanteissa))"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="(Ακατάλληλο NSFW περιεχόμενο)"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="(откровенный контент)"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="(не для перегляду на роботі)"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="（少儿不宜）"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="(NSFW<閲覧注意>)"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="(限制級)"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="(연령 제한)"] ~ .name-23GUGE .channelName-2YrOjO:after{
  content: 'nsfw';
  color: white;
  font: var(--main-font);
  font-size: 14px;
  background: black;
  text-shadow: 0 0 2px currentcolor;
  border: 2px solid red;
  border-radius: 4px;
  padding: 1px 3px;
  margin-left: 5px;
}
/*---------- Square Stuff ----------*/
/*Square Chat Avatars*/
.avatar-1BDn8e{
  border: 2.5px solid var(--main-color) !important;/*
  width: 35px !important;
  height: 35px !important;*/
  border-radius: var(--square-border-radius) !important;
  background-size: cover !important;
}
/*Square vc pfp*/
[class*="avatar"],
[class*="avatar"] * img{
  border-radius: var(--square-border-radius) !important;
}
/* Thanks Jay Wilson */
.wrapper-2QE8vf foreignObject{
  mask: none;
}
/*Calling*/
.voiceAvatar-14IynY,
.border-Jn5IOt,
.wrapper-2QE8vf.ringingIncoming-38YcLn:after,
.wrapper-2QE8vf.ringingOutgoing-mbXhhQ:after{
  border-radius: var(--square-border-radius);
}
/*New Reply System*/
.replyAvatar-1K9Wmr,.replyBadge-r1su3o{
  border-radius: var(--square-border-radius) !important;
}
/*Square off the new code previews*/
.footer-2yA7Ep,
.textContainer-C0szpm{ 
  border-radius: 0px;
}
/*---------- Borders ----------*/
/*A border for user profiles,popouts*/
.root-3QyAh1,
.userPopout-xaxa6l{
  border: 2px solid var(--main-color);
}
.uploadModal-2ifh8j,
.root-3QyAh1,
.quickswitcher-3JagVE{
  border-radius: 0px !important;
}
/*---------- Pings and Voice ----------*/
/*Fancier Pings*/
.numberBadge-2s8kKX,
.iconBadge-3qSJIw /*Voice/stage/sharing icons*/
{ 
  background-color: black !important;
  height: 18px;
  width: 18px !important;
  margin-bottom: -3px;
  margin-right: -5px;
  border: 1px solid var(--main-color);
  filter: drop-shadow(0 0 4px var(--main-color));
}
.theme-dark .mentioned-xhSam7,
.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z,
.mouse-mode.full-motion .mentioned-xhSam7:hover{
  border: 2px solid var(--ping-border-color);
  background-image: linear-gradient(var(--gradient-rotation),var(--ping-gradient-color),var(--ping-fill-color)) !important;
}
.mouse-mode.full-motion .mentioned-xhSam7:hover{
  background-image: linear-gradient(var(--gradient-rotation),var(--hover-gradient-color),var(--hover-ping-fill-color)) !important;
  border: 2px solid var(--hover-ping-border-color);
}
/*---------- Color! ----------*/
.textArea-12jD-V.slateContainer-3Qkn2x > .markup-2BOw-j,/*Typing area*/
.guildNameText-3Zwx4p,/*Server names on hover*/
.markupRtl-3M0hmN,
.messageContent-2qWWxC,
.tooltipContent-bqVLWK{
  color: var(--text-color) !important;
}
/*---------- Glow ----------*/
.childWrapper-anI2G9:hover,
.childWrapper-anI2G9{
  background: transparent !important;
}
/*Glow on hovering a server*/
.blobContainer-pmnxKB:hover,
.homeIcon-FuNwkv:hover{
  box-shadow: 0 0 30px 0 var(--main-color);
  border-radius: var(--circle-border-radius);
  /*transition: box-shadow 200ms;*/ /*this results in some visual glitch when you hover the selected channel*/
}
/*Glow on selected server*/
.selected-bZ3Lue:not(:hover){
  box-shadow: 0 0 30px 0 var(--main-color);
  overflow: visible !important;
  border-radius: var(--circle-border-radius);
}
/*Thanks tropical - gets rid of overflow. Screws up a lot of stuff,had to compensate in gradients and otherwise*/
.wrapper-25eVIn foreignObject{
  mask:none;
  overflow:visible;
}
.acronym-2mOFsV,.icon-27yU2q:not(:hover),.homeIcon-FuNwkv,.circleIconButton-1QV--U,
.listAvatar-1BbvHX{/*Force Circular Servers on Hover*/
  border-radius: var(--circle-border-radius) !important;
}
/*---------- Gradients ----------*/
.theme-dark .footer-2gL1pp .button-38aScr,
.lookFilled-1Gx00P.colorGrey-2DXtkV,
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG,/* discover tab */
.unread-1xRYoj:after,.mention-1f5kbO:after,/* unread channels bar */
.menu-3sdvDG:not(#status-picker) .colorDefault-2K3EoJ.focused-3afm-j,.menu-3sdvDG:not(#status-picker) .colorDefault-2K3EoJ:hover:not(.hideInteraction-1iHO1O),/* dropdown menu */
.appMount-3lHmkl .lookFilled-1Gx00P.colorGreen-29iAKY:disabled,.appMount-3lHmkl .lookFilled-1Gx00P.colorPrimary-3b3xI6:disabled,/* disabled buttons */
.lookInverted-2D7oAl,.lookInverted-2D7oAl.colorBrand-3pXr91,.lookInverted-2D7oAl.colorGreen-29iAKY,/* more buttons */
.newMessagesBar-265mhP:before,/* new message bar */
.jumpToPresentBar-G1R9s6:hover,/* jump to present bar */
.privateChannels-1nO12o .channel-2QD9_O.selected-aXhQR6 .layout-2DM8Md:after,
.popout-103y-5 .tag-2gHSR7,
.tab-2j5AEF.selected-2LAck8:after,
.layer-v9HyYc .themedPopout-1TrfdI .header-ykumBX,
.appMount-3lHmkl .lookFilled-1Gx00P.colorGreen-29iAKY,
.appMount-3lHmkl .lookFilled-1Gx00P.colorBrand-3pXr91,
.appMount-3lHmkl .lookFilled-1Gx00P.colorPrimary-3b3xI6,
.acronym-2mOFsV,.acronym-2mOFsV:hover,
.circleIconButton-1QV--U:hover,.circleIconButton-1QV--U.selected-1JjBPm,
.modeSelected-346R90 .content-1x5b-n,
.wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n:after,
.container-1r6BKw .topPill-30KHOu .item-PXvHYJ.selected-3s45Ha.themed-OHr7kt,
.standardSidebarView-3F1I7i .sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ.selected-3s45Ha,
.layer-3QrUeG .standardSidebarView-3F1I7i .sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ.selected-3s45Ha:after,
.appMount-3lHmkl .lookFilled-1Gx00P.colorGreen-29iAKY,.appMount-3lHmkl .lookFilled-1Gx00P.colorBrand-3pXr91,.appMount-3lHmkl .lookFilled-1Gx00P.colorPrimary-3b3xI6,/* buttons for days */
.item-26Dhrx[style*="background-color"],
.selected-mKYnfr.option-n0icdO,
.chat-3bRxxu .divider-3gKybi.dividerRed-MKoLlr:before,
.tab-2j5AEF.selected-2LAck8, /*Search buttons*/
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc,
.theme-dark .memberListItem-31QoHj:not(.popoutDisabled-2RK7MF):hover,
.unread-1xRYoj:active,.unread-1xRYoj:hover,/*New Unreads bar*/
.standardSidebarView-3F1I7i .sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ.selected-3s45Ha:after,.standardSidebarView-3F1I7i .sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[style*="color: rgb(255,255,255)"]:after,/* selected things */
.item-26Dhrx[aria-checked=true] .radioBar-bMNUI-,/*Voice Settings: Input Mode*/
.navButtonActive-1MkytQ,/*New emote popup button*/
.item-PXvHYJ.selected-3s45Ha, /*Role settings*/
.container-_phMUq, /*Default @everyone permissions in server settings*/
.avatarUploaderIndicator-2G-aIZ, /*Image upload button in settings*/
.standardSidebarView-3F1I7i .sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[style*="color: rgb(255, 255, 255)"],/*Subscriptions settings tab*/
.unicodeShortcut-15J8Ck,/*Shortcut in emote list*/
.tabBar-3nvOPa > .item-PXvHYJ:after,/*User Modal Tabs when doing an activity*/
.colorable-1bkp8v.white-3GPOIp, /*Vc mute button*/
.lookGhost-2Fn_0-.colorGrey-2DXtkV /*Voice Settings: Shortcut bind*/
{
  background-image: linear-gradient(var(--gradient-rotation),var(--from-gradient-color),var(--to-gradient-color)) !important;
  background-color: var(--main-color);
}
.members-1998pB .membersGroup-v9BXpm,
.sidebar-2K8pFh .containerDefault-3tr_sE .wrapper-PY0fhH .name-3l27Hl .overflow-WK9Ogt,/*Thx Addy*/
.headerText-2F0828,.discoverHeader-1TWTqG,
.header-2RyJ0Y
{
  background-image: linear-gradient(var(--gradient-rotation),var(--from-gradient-color),var(--to-gradient-color)) !important;
  -webkit-background-clip: text;
  color: transparent !important;
}
.members-1998pB .membersGroup-v9BXpm:before,
.name-3l27Hl:before,
.privateChannelsHeaderContainer-3NB1K1:before,
.discoverHeader-1TWTqG:before,
.sidebar-CFHs9e .header-2RyJ0Y:before /*Settings bars*/
{
  background: linear-gradient(to left,var(--from-gradient-color) 50%,transparent) !important;
}
.members-1998pB .membersGroup-v9BXpm:after,
.name-3l27Hl:after,
.privateChannelsHeaderContainer-3NB1K1:after,
.discoverHeader-1TWTqG:after,
.sidebar-CFHs9e .header-2RyJ0Y:after /*Settings bars*/
{
  background: linear-gradient(to right,var(--from-gradient-color) 50%,transparent) !important;
}
/*---------- FANCY CODE ----------*/
/*Thank you gibbu*/
#app-mount pre{
  background: rgba(0,0,0,.4) !important;
  max-width: 100%;
  border-radius: 0px;
}
#app-mount pre code{
  background: transparent;
}
#app-mount pre code .hljs-built_in,
#app-mount pre code .hljs-doctag,
#app-mount pre code .hljs-literal,
#app-mount pre code .hljs-meta .hljs-meta-string,
#app-mount pre code .hljs-number,
#app-mount pre code .hljs-regexp,
#app-mount pre code .hljs-selector-class{
  color: #b392f0;
}
#app-mount pre code .hljs-attribute,
#app-mount pre code .hljs-name,
#app-mount pre code .hljs-section,
#app-mount pre code .hljs-selector-class,
#app-mount pre code .hljs-selector-id,
#app-mount pre code .hljs-string,
#app-mount pre code .hljs-title{
  color: #79b8ff;
}
#app-mount pre code .hljs-attr,
#app-mount pre code .hljs-attribute,
#app-mount pre code .hljs-bullet,
#app-mount pre code .hljs-class,
#app-mount pre code .hljs-link,
#app-mount pre code .hljs-meta,
#app-mount pre code .hljs-meta .hljs-keyword,
#app-mount pre code .hljs-selector-attr,
#app-mount pre code .hljs-selector-pseudo,
#app-mount pre code .hljs-subst,
#app-mount pre code .hljs-symbol,
#app-mount pre code .hljs-template-variable,
#app-mount pre code .hljs-title,
#app-mount pre code .hljs-type,
#app-mount pre code .hljs-variable{
  color: #ffab70;
}
#app-mount pre code .hljs-addition,
#app-mount pre code .hljs-keyword,
#app-mount pre code .hljs-selector-tag{
  color: #56b6c2;
}
#app-mount pre code .hljs-comment,
#app-mount pre code .hljs-quote{
  color: #959da5;
}
/*---------- Permissions Viewer Fix ----------*/
#permissions-modal-wrapper .callout-backdrop,
#permissions-modal-wrapper .role-side,
#permissions-modal-wrapper .perm-side,
#permissions-modal-wrapper .modal-body,
.theme-light #permissions-modal-wrapper #permissions-modal,
.theme-dark #permissions-modal-wrapper #permissions-modal
{
  background: rgba(0,0,0,.2) !important;
}
#permissions-modal-wrapper .header
{
  background: rgba(0,0,0,.4) !important;
  border-bottom: 2px solid var(--main-color) !important;
}
#permissions-modal-wrapper .role-item.selected
{
  background: rgba(0,0,0,.6) !important;
  border: 2px solid var(--main-color) !important;
}
#permissions-modal-wrapper .role-item
{
  border: 2px solid transparent !important;
}
.member-perms::-webkit-scrollbar-thumb,
#permissions-modal-wrapper *::-webkit-scrollbar-thumb{
  background-color: var(--main-color) !important;
}
/*---------- Better Formatting Fix ----------*/
/*Lazy blanket that makes entire thing transparent*/
.bf-toolbar.bf-hover:hover:before,
.bf-toolbar.bf-visible:before,
.bf-toolbar:before{
  background: rgba(0,0,0,.2) !important;
}
/*---------- Channel Tabs Fix ----------*/
/*Fixing unthemed tabs*/
.channelTabs-tab{
  background: rgba(0,0,0,.2) !important;
  border-radius: 0px !important;
}
.channelTabs-tabContainer{
  background: transparent !important;
}
.channelTabs-tab:hover{
  background: rgba(0,0,0,.3) !important;
}
.channelTabs-selected:hover,
.channelTabs-fav:hover{
  background: rgba(0,0,0,.5) !important;
}
.channelTabs-selected,
.channelTabs-fav,
.channelTabs-favContainer{
  background: rgba(0,0,0,.4) !important;
}
/*Squaring icon*/
.channelTabs-tabIcon,
.channelTabs-favIcon{
  border-radius: var(--square-border-radius) !important;
}
.channelTabs-fav{
  border-radius: 0px !important;
  /*border-left: 2px solid var(--main-color);
  border-right: 2px solid var(--main-color);*/
}
/*Colors and fonts*/
.channelTabs-tabName,
.channelTabs-tabIcon ~ .channelTabs-tabName,
.channelTabs-favIcon ~ .channelTabs-favName{
  font: var(--main-font) !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  color: var(--text-color) !important;
}
.channelTabs-newTab:hover{
  background: var(--hover-color) !important; 
  color: white !important;
}
.channelTabs-newTab{
  background: var(--main-color) !important; 
  color: white !important;
}
.channelTabs-closeTab,
.channelTabs-selected .channelTabs-closeTab{
  background: transparent !important; 
  color: white !important;
}
.channelTabs-closeTab:hover,
.channelTabs-selected .channelTabs-closeTab:hover{
  background: transparent !important; 
  color: var(--hover-color) !important;
}
.channelTabs-mentionBadge{
  background-color: var(--main-color) !important;
}
.channelTabs-unreadBadge{
  background-color: black !important;
}
.channelTabs-favMentionBadge,
.channelTabs-favUnreadBadge,
.channelTabs-fav .channelTabs-noMention,
.channelTabs-fav .channelTabs-noUnread{
  color: white !important;
}
.channelTabs-noFavNotice{
  color: var(--text-color) !important;
  font: var(--main-font) !important;
}
/*---------- DateViewer ----------*/
/*Make the DateViewer plugin background transparent*/
#dv-mount{
  background: rgba(0,0,0,.2);
  font: var(--main-font);
}
/*
.dv-time,.dv-weekday,#dv-main .dv-date,.layer-v9HyYc{
  color: var(--text-color) !important;
}*/ /*Changes DV Text Colors; if you think this is aids,comment it*/
