/*---------- Credits ----------*/
/*
Hello curious coder! This is the custom repository for my friend wens because he's picky
*/
/*---------- Wens ----------*/
/*Updated 2021-01-05*/
/*changes the reaction color*/
.reaction-1hd86g.reactionMe-wv5HKu .reactionCount-2mvXRV{
  color: var(--text-color) !important;
}
/*---------- CV Fixes ----------*/
/*Updated 2021-04-08*/
/*Stickers fix*/
.stickerInspected-2EM4w- .stickerBackground-2XECKi, /*Sticker backgrounds when hovered*/
.viewAllBackground-3Bn1vh{
  background-color: rgba(255,255,255,0.07);
}
.wrapper-OxgYJ1 .row-2psonc{ /*Stickers lookup margins*/
  column-gap: 8px !important;
}
.listItems-1uJgMC{ /*Fix preview in store*/
  width: 100%;
}
/*Create New Server Menu*/
.container-UC8Ug1{
  background: rgba(0,0,0,.2) !important;
  font: var(--main-font) !important;
}
/*Make Input Box Lighter*/
.channelTextArea-2VhZ6z .scrollableContainer-2NUZem{
  background: rgba(0,0,0,.2) !important;
}
/*Dashed border when replying*/
.container-2fRDfG{
  background: rgba(0,0,0,.2) !important;
  border-bottom: 1px dashed var(--main-color);
}
/*Share Screen Modal Width by Addy*/
.modalSize-cqUaws,.modalHeader-19eoYJ + div{
  width: 600px !important;
}
/*Message Date Appearance Style by Addy*/
.divider-JfaTT5{
  border-top: thin solid rgba(0,0,0,0);
}
.divider-JfaTT5:before{
  content: "";
  height: 2px;
  opacity: 0.4;
  flex-grow: 1;
  background: linear-gradient(to left,var(--from-gradient-color),var(--to-gradient-color));
  margin-right: 0;
  z-index: -1;
}
.divider-JfaTT5:after{
  content: "";
  height: 2px;
  opacity: 0.4;
  flex-grow: 1;
  background: linear-gradient(to right,var(--from-gradient-color),var(--to-gradient-color));
  margin-left: 0;
  z-index: -1;
}
/*server folder transparency*/
.folder-1hbNCn,.folder-1hbNCn:hover,.expandedFolderIconWrapper-Huv7rA,.expandedFolderIconWrapper-Huv7rA:hover{
  background: transparent;
}
/*Yellow Permission Ticks*/
.passthrough-1c2ewQ.selected-2YhbGh{background-color: #ffba00;}
.passthrough-1c2ewQ:not(.selected-2YhbGh) polygon{fill: #ffba00;}
/*Return scrollbars to 10px except main chat body*/
.contentRegion-3nDuYy .contentRegionScroller-26nc1e::-webkit-scrollbar, /*Settings scroll right*/
.sidebarRegionScroller-3MXcoP.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2::-webkit-scrollbar{ /*Settings scroll on left*/
  width: 10px !important;
}
/*Get rid of tip at bottom of user popout*/
.protip-YaFfgO{
  display:none;
}
.theme-dark .lookGhost-2Fn_0-.colorGrey-2DXtkV{ /*Fix widgets button text not being right*/
  color: #fff;
}
.categoryList-xW5xXr/*Stickers*/
{
  background: rgba(0,0,0,.1);
}
.fullScreen-1tMzXY .flexCenter-2Y_vCg{ /*Fullscreen share*/
  background: rgba(0, 0, 0, calc(var(--background-shading) * .6));
}
.iconBadge-3qSJIw.participating-1NvRVd{ /*Voice connected*/
  background-color: black !important;
  height: 18px;
  width: 18px !important;
  margin-bottom: -3px;
  margin-right: -5px;
  border: 1px solid var(--main-color);
  filter: drop-shadow(0 0 2px var(--main-color));
}
/*Square off the new code previews*/
.footer-2yA7Ep,
.textContainer-C0szpm{
  border-radius: 0px;
}
/*2021-03-24 reroll*/
.iconContainer-2SYmeK.checked-1Gs3_E{
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/*Emote Autocomplete reversion to old style*/
.contentTitle-2tG_sM{
  color: var(--text-muted);
}
.autocompleteRowContentPrimary-238PvP .colorInteractiveActive-3Ip9Eu{
  font-weight: inherit;
  font-size: 100%;
}
.autocompleteRowContentSecondary-1tgI-F{
  font-size: 14px;
  line-height: 18px;
  color: var(--text-muted);
}
/*---------- Massive User-Modal rewrite ----------*/
/*Updated 2021-04-14, thanks leafy*/
.root-SR8cQa > .topSectionNormal-2-vo2m{
  background: rgba(0, 0, 0, calc(var(--background-shading) * .3)) !important;
}
.root-SR8cQa{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
  width: 900px;
  height: 600px;
  background: rgba(0, 0, 0, calc(var(--background-shading) * .6)) !important; /*BG over full thing*/
}
/*Loads of grid stuff*/
.topSectionNormal-2-vo2m,
.topSectionPlaying-1J5E4n,
.topSectionSpotify-1lI0-P,
.topSectionStreaming-1Tpf5X,
.topSectionXbox-3fWLjS{
  display: grid;
  grid-template-rows: 40% auto;
}
.header-QKLPzZ{
  grid-row-start: 1;
  display: grid;
  grid-template-columns: auto auto 20px;
  grid-template-rows: 110px 100px;
  padding-bottom: 0;
}
.avatar-3EQepX{
  grid-column-start: 1;
  grid-row-start: 1;
  align-self: start;
  height: 100px !important;
  width: 100px !important;
}
.headerInfo-30uryT{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  align-self: start;
}
.headerInfo-30uryT + div,
.headerInfo-30uryT + button{
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: start;
  justify-self: end;
}
.headerInfo-30uryT + div + div,
.headerInfo-30uryT + button + div{
  align-self: start;
}
.headerInfo-30uryT + div[role=button],
.actionButton-3W1xZa + div[role=button]{
  grid-column-start: 3;
  grid-row-start: 1;
  align-self: start;
  justify-self: start;
}
.customStatus-154i-H{
  word-break: break-word;
}
.header-QKLPzZ + div,
.headerFill-adLl4x{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80px auto 0;
  grid-row-start: 2;
}
.activity-1ythUs{
  grid-row-start: 1;
  grid-column-start: 1;
  padding: 5px 20px;
  max-height: 78px;
}
.activity-1ythUs ~ .activityProfile-2bJRaP{
  grid-row-start: 2;
  grid-column-start: 1;
}
/*Tabs on top in comments*/
.tabBarContainer-1s1u-z{
  grid-row-start: 3;
  grid-column-start: 1;
  align-self: end;
  position: relative;
  /*
  bottom: 450px;
  left: 450px;*/
}
.body-3ND3kc{
  /*margin-top: 50px;*/
  margin-top: -25px;
  height: auto !important;
  overflow-y: scroll;
  background: transparent !important;
}
.infoScroller-3EYYns::webkit-scrollbar, .listScroller-2_vlfo::webkit-scrollbar,
.body-3ND3kc::webkit-scrollbar{
  width: 10px !important;
}
.fade-2kXiP2{
  height: auto;
  clip:
}
.infoScroller-3EYYns,
.listScroller-2_vlfo{
  margin-top: 24px;
  padding-top: 8px;
  overflow: hidden scroll !important;
}
.topSectionPlaying-1J5E4n .bodyNormal-2D39hT{
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto 64px;
}
.topSectionPlaying-1J5E4n .assets-VMAukC{
  grid-row-start: 1;
  grid-column-start: 1;
}
.topSectionPlaying-1J5E4n .assetsLargeImageProfile-3YXDex{
  height: 80px;
  width: 80px;
}
.topSectionPlaying-1J5E4n .content-3JfFJh{
  max-width: 180px;
}
.topSectionPlaying-1J5E4n .actionsProfile-jEtjVX{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
}
.topSectionPlaying-1J5E4n .actionsProfile-jEtjVX .button-2IFFQ4{
  margin-right: 2px;
  padding: 2px 8px;
}
.topSectionSpotify-1lI0-P .bodyAlignCenter-1KzvJk,
.topSectionSpotify-1lI0-P .bodyNormal-2D39hT{
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto 64px;
}
.topSectionSpotify-1lI0-P .assets-VMAukC{
  grid-column-start: 1;
  grid-row-start: 1;
}
.topSectionSpotify-1lI0-P .assetsLargeImageProfile-3YXDex{ /*Spotify thumbnail icon*/
  height: 80px;
  width: 80px;
}
.topSectionSpotify-1lI0-P .content-3JfFJh{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  margin-left: 0;
  padding-top: 25px;
}
.topSectionSpotify-1lI0-P .actionsProfile-jEtjVX{
  grid-column-start: 2;
  grid-row-start: 1;
}
.topSectionStreaming-1Tpf5X .buttonInvertedPurple-WtBglX{
  padding: 2px 15px;
  align-self: start;
  height: 32px;
  min-height: 32px;
}
.topSectionStreaming-1Tpf5X .buttonInvertedPurple-WtBglX + div[role=button]{
  align-self: start;
}
.topSectionStreaming-1Tpf5X .bodyAlignCenter-1KzvJk,
.topSectionStreaming-1Tpf5X .bodyNormal-2D39hT{
  display: grid;
  grid-template-columns: auto 100px;
  grid-template-rows: auto 64px;
}
.topSectionStreaming-1Tpf5X .assets-VMAukC{
  grid-column-start: 1;
  grid-row-start: 1;
}
.topSectionStreaming-1Tpf5X .content-3JfFJh{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  margin-left: 0;
}
.topSectionStreaming-1Tpf5X .actionsProfile-jEtjVX{
  grid-column-start: 2;
  grid-row-start: 1;
}
.topSectionXbox-3fWLjS .body-ZAhrcj{
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto 64px;
}
.topSectionXbox-3fWLjS .assets-VMAukC{
  grid-row-start: 1;
  grid-column-start: 1;
}
.topSectionXbox-3fWLjS .content-3JfFJh{
  max-width: 180px;
}
.topSectionXbox-3fWLjS .button-2IFFQ4{
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-right: 2px;
  padding: 2px 8px;
}
.tabBar-2MuP6- > .item-PXvHYJ,
.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ{
  border-radius: 3px;
  max-height: 30px !important;
  animation: cv-slide-top .2s ease-in-out;
}
span.username-2b1r56.username-3gJmXY {
  text-overflow: ellipsis !important;
  word-break: normal;
}
/*---------- Hide Things ----------*/
/*Updated 2021-11-19 thanks BD Server*/
/* Hide Home Nitro button */
.privateChannels-1nO12o .channel-2QD9_O[href="/store"]{
  display: none;
}
/* Makes usernames/timestamps not selectable */
.header-23xsNx{
  user-select: none;
}
/*---------- Top Bar ----------*/
/*Updated 2021-01-05,a lot of code taken and then modified from gibbu & Tropical's Slate theme with permission*/
/*Delete a lot of stuff in dms*/
.container-1r6BKw .children-19S4PO .nicknames-1XK4Zt{
  display: none !important;
}
.container-1r6BKw .children-19S4PO .status-1XNdyw{
  display: none !important;
}
.akaBadge-1M-1Gw{
  display: none !important;
}
/*Spacing*/
.container-1r6BKw .children-19S4PO{
  flex: none;
  min-width: 230px;
}
.container-1r6BKw .children-19S4PO .iconWrapper-2OrFZ1{
  margin: 0 10px 0 0;
}
.container-1r6BKw .children-19S4PO .iconWrapper-2OrFZ1 .icon-22AiRD{
  width: 20px;
}
/*Channel Name*/
.container-1r6BKw .children-19S4PO .iconWrapper-2OrFZ1 .channelName-qsg_a_{
  margin: 0;
}
/*Defines two layers*/
.container-1r6BKw .children-19S4PO h3{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  user-select: none;
  line-height: normal;
  flex: 1;
}
/*Deletes the divider*/
.divider-3FBTu8{
  display: none;
}
/*Some stolen code*/
.container-1r6BKw .children-19S4PO h3:before{
  display: block;
  content: "Channel Name";
  font-size: 11px;
}
/*Makes descriptions clickable and not visible*/
#app-mount .container-1r6BKw.themed-ANHk51 .children-19S4PO .topic-TCb_qw{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
/*Search margins*/
.container-1r6BKw .search-36MZv-{
  margin-top: 4px;
  margin-left: -18px;
}
.container-1r6BKw .toolbar-1t6TWx{
  /*margin-left:10%;*/
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);/*This centers it,but completely screws up search bar*/
  border-right: 1px solid #6f727d;
  border-left: 1px solid #6f727d;
}
/*moved search bar to center btw after input from user 379052485819498507,comments above are redundant*/
/*Adds spacing between items on the toolbar*/
.container-1r6BKw .toolbar-1t6TWx .iconWrapper-2OrFZ1{
  margin: 0px 10px;
}
/*Make this normal looking*/
.container-1r6BKw .searchBar-3dMhjb{
  padding: 0 !important;
  overflow: visible;
  background: transparent;
}
/*Offset*/
.container-1r6BKw .DraftEditor-root{
  padding: 0 10px 0 28px;
  margin-top: 3px;
}
/*---------- Usernames and Spacing ----------*/
/*Updated 2021-02-03*/
/*Smaller usernames*/
.username-1A8OIy{
  font-size: 15px !important;
}
/*Standardizes some stuff*/
.username-1A8OIy:hover{
  color: var(--hover-color) !important;
}
.contents-2mQqc9 > img ~ .header-23xsNx > span.username-1A8OIy:hover::after
{
  color: var(--hover-color);
  text-shadow: 0px 0px 10px var(--hover-color);
}
/*Makes messages clsoer together*/
.cozyMessage-3V1Y8y{
  margin-bottom: -4px;
}
/*Hover for cool little bump*/
.profileBadge-2niAfJ{
  transition: 0.4s;
}
.profileBadge-2niAfJ:hover{
  transform: translateY(-1px);
}
/*---------- NSFW Tag ----------*/
/*Updated 2021-03-27*/
[aria-label*="(NSFW)"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="(NSFW - per adulti)"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="(NSD)"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="(Conteúdo adulto)"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="(NSFW (aikuissisältö; ei katseltavaksi työtilanteissa))"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="(Ακατάλληλο NSFW περιεχόμενο)"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="(откровенный контент)"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="(не для перегляду на роботі)"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="（少儿不宜）"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="(NSFW<閲覧注意>)"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="(限制級)"] ~ .name-23GUGE .channelName-2YrOjO:after,
[aria-label*="(연령 제한)"] ~ .name-23GUGE .channelName-2YrOjO:after{
  content: 'nsfw';
  color: white;
  font: var(--main-font);
  font-size: 14px;
  background: black;
  text-shadow: 0 0 2px currentcolor;
  border: 2px solid red;
  border-radius: 4px;
  padding: 1px 3px;
  margin-left: 5px;
}
/*---------- Borders ----------*/
/*Updated 2021-04-09*/
/*A border for user profiles,popouts*/
.inner-1ilYF7,
.userPopout-3XzG_A{
  border: 2px solid var(--main-color);
}
.uploadModal-2ifh8j,
.root-SR8cQa,
.quickswitcher-3JagVE{
  border-radius: 0px !important;
}
/*---------- Pings ----------*/
/*Updated 2020-06-20*/
/*Fancier Pings*/
.numberBadge-2s8kKX{
  background-color: black !important;
  height: 18px;
  width: 18px !important;
  margin-bottom: -3px;
  margin-right: -5px;
  border: 1px solid var(--main-color);
}
.lowerBadge-29hYVK .numberBadge-2s8kKX{
  filter: drop-shadow(0 0 3px var(--main-color)) drop-shadow(0 0 0px var(--main-color)) !important;
}
.theme-dark .mentioned-xhSam7,
.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z,
.mouse-mode.full-motion .mentioned-xhSam7:hover{
  border: 2px solid var(--ping-border-color);
  background-image: linear-gradient(var(--gradient-rotation),var(--ping-gradient-color),var(--ping-fill-color)) !important;
}
.mouse-mode.full-motion .mentioned-xhSam7:hover{
  background-image: linear-gradient(var(--gradient-rotation),var(--hover-gradient-color),var(--hover-ping-fill-color)) !important;
  border: 2px solid var(--hover-ping-border-color);
}
/*---------- Color! ----------*/
/*Updated 2021-02-14*/
.textArea-12jD-V.slateContainer-3Qkn2x > .markup-2BOw-j,/*Typing area*/
.guildNameText-3Zwx4p,/*Server names on hover*/
.markupRtl-3M0hmN,
.messageContent-2qWWxC,
.tooltipContent-bqVLWK{
  color: var(--text-color) !important;
}
/*
.containerDefault-1ZnADq .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU .name-3_Dsmg{
  color: var(--text-color);
}
.containerDefault-1ZnADq .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU .icon-1_QxNX{
  color: var(--text-color);
}*/
/*---------- Glow ----------*/
/*Updated 2021-01-06*/
.childWrapper-anI2G9:hover,
.childWrapper-anI2G9{
  background: transparent !important;
}
/*Glow on hovering a server*/
.blobContainer-pmnxKB:hover,
.homeIcon-FuNwkv:hover{
  box-shadow: 0 0 30px 0 var(--main-color);
  border-radius: var(--circle-border-radius);
  /*transition: box-shadow 200ms;*/ /*this results in some visual glitch when you hover the selected channel*/
}
/*Glow on selected server*/
.selected-bZ3Lue:not(:hover){
  box-shadow: 0 0 30px 0 var(--main-color);
  overflow: visible !important;
  border-radius: var(--circle-border-radius);
}
/*Thanks tropical - gets rid of overflow. Screws up a lot of stuff,had to compensate in gradients and otherwise*/
.wrapper-25eVIn foreignObject{
  mask:none;
  overflow:visible;
}
.acronym-2mOFsV,.icon-27yU2q:not(:hover),.homeIcon-FuNwkv,.circleIconButton-1QV--U{/*Force Circular Servers on Hover*/
  border-radius: var(--circle-border-radius) !important;
}
/*---------- Gradients ----------*/
/*Updated 2021-03-26,Huge thanks to leafy and leo*/
.theme-dark .footer-2gL1pp .button-38aScr,
.lookFilled-1Gx00P.colorGrey-2DXtkV,
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG,/* discover tab */
.unread-1xRYoj:after,.mention-1f5kbO:after,/* unread channels bar */
.menu-3sdvDG:not(#status-picker) .colorDefault-2K3EoJ.focused-3afm-j,.menu-3sdvDG:not(#status-picker) .colorDefault-2K3EoJ:hover:not(.hideInteraction-1iHO1O),/* dropdown menu */
.appMount-3lHmkl .lookFilled-1Gx00P.colorGreen-29iAKY:disabled,.appMount-3lHmkl .lookFilled-1Gx00P.colorPrimary-3b3xI6:disabled,/* disabled buttons */
.lookInverted-2D7oAl,.lookInverted-2D7oAl.colorBrand-3pXr91,.lookInverted-2D7oAl.colorGreen-29iAKY,/* more buttons */
.newMessagesBar-265mhP:before,/* new message bar */
.jumpToPresentBar-G1R9s6:hover,/* jump to present bar */
.privateChannels-1nO12o .channel-2QD9_O.selected-aXhQR6 .layout-2DM8Md:after,
.popout-103y-5 .tag-2gHSR7,
.tab-2j5AEF.selected-2LAck8:after,
.layer-v9HyYc .themedPopout-1TrfdI .header-ykumBX,
.appMount-3lHmkl .lookFilled-1Gx00P.colorGreen-29iAKY,
.appMount-3lHmkl .lookFilled-1Gx00P.colorBrand-3pXr91,
.appMount-3lHmkl .lookFilled-1Gx00P.colorPrimary-3b3xI6,
.acronym-2mOFsV,.acronym-2mOFsV:hover,
.circleIconButton-1QV--U:hover,.circleIconButton-1QV--U.selected-1JjBPm,
.modeSelected-346R90 .content-1x5b-n,
.wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n:after,
.container-1r6BKw .topPill-30KHOu .item-PXvHYJ.selected-3s45Ha.themed-OHr7kt,
.standardSidebarView-3F1I7i .sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ.selected-3s45Ha,
.layer-3QrUeG .standardSidebarView-3F1I7i .sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ.selected-3s45Ha:after,
.appMount-3lHmkl .lookFilled-1Gx00P.colorGreen-29iAKY,.appMount-3lHmkl .lookFilled-1Gx00P.colorBrand-3pXr91,.appMount-3lHmkl .lookFilled-1Gx00P.colorPrimary-3b3xI6,/* buttons for days */
.item-26Dhrx[style*="background-color"],
.selected-mKYnfr.option-n0icdO,
.chat-3bRxxu .divider-3gKybi.dividerRed-MKoLlr:before,
.tab-2j5AEF.selected-2LAck8, /*Search buttons*/
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc,
.theme-dark .memberListItem-31QoHj:not(.popoutDisabled-2RK7MF):hover,
.unread-1xRYoj:active,.unread-1xRYoj:hover,/*New Unreads bar*/
.standardSidebarView-3F1I7i .sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ.selected-3s45Ha:after,.standardSidebarView-3F1I7i .sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[style*="color: rgb(255,255,255)"]:after,/* selected things */
.item-26Dhrx[aria-checked=true] .radioBar-bMNUI-,/*Voice Settings: Input Mode*/
.navButtonActive-1MkytQ,/*New emote popup button*/
.item-PXvHYJ.selected-3s45Ha, /*Role settings*/
.container-_phMUq, /*Default @everyone permissions in server settings*/
.avatarUploaderIndicator-2G-aIZ, /*Image upload button in settings*/
.standardSidebarView-3F1I7i .sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[style*="color: rgb(255, 255, 255)"],/*Subscriptions settings tab*/
.unicodeShortcut-15J8Ck,/*Shortcut in emote list*/
.tabBar-2MuP6- > .item-PXvHYJ:after,/*User Modal Tabs when doing an activity*/
.lookGhost-2Fn_0-.colorGrey-2DXtkV /*Voice Settings: Shortcut bind*/
{
  background-image: linear-gradient(var(--gradient-rotation),var(--from-gradient-color),var(--to-gradient-color)) !important;
  background-color: var(--main-color);
}
/*Some BD things*/
#bd-settings-sidebar .ui-tab-bar-item.selected,
.bd-addon-list .bd-card-footer button,.bd-pfbtn,.bd-pfbtn,.bd-select .bd-select-option.selected,.standardSidebarView-3F1I7i #editor-detached button{
  background-image: linear-gradient(var(--gradient-rotation),var(--from-gradient-color),var(--to-gradient-color)) !important;
  background-color: var(--main-color);
}
.members-1998pB .membersGroup-v9BXpm,
.sidebar-2K8pFh .containerDefault-3tr_sE .wrapper-PY0fhH .name-3l27Hl .overflow-WK9Ogt,/*Thx Addy*/
.headerText-2F0828,.discoverHeader-1TWTqG,
.header-2RyJ0Y
{
  background-image: linear-gradient(var(--gradient-rotation),var(--from-gradient-color),var(--to-gradient-color)) !important;
  -webkit-background-clip: text;
  color: transparent !important;
}
.members-1998pB .membersGroup-v9BXpm:before,
.name-3l27Hl:before,
.privateChannelsHeaderContainer-3NB1K1:before,
.discoverHeader-1TWTqG:before,
.sidebar-CFHs9e .header-2RyJ0Y:before /*Settings bars*/
{
  background: linear-gradient(to left,var(--from-gradient-color) 50%,transparent) !important;
}
.members-1998pB .membersGroup-v9BXpm:after,
.name-3l27Hl:after,
.privateChannelsHeaderContainer-3NB1K1:after,
.discoverHeader-1TWTqG:after,
.sidebar-CFHs9e .header-2RyJ0Y:after /*Settings bars*/
{
  background: linear-gradient(to right,var(--from-gradient-color) 50%,transparent) !important;
}
/*---------- FANCY CODE ----------*/
/*Updated 2021-03-28*/
/*Thank you gibbu*/
#app-mount pre{
  background: rgba(0,0,0,.4) !important;
  max-width: 100%;
  border-radius: 0px;
}
#app-mount pre code{
  background: transparent;
}
#app-mount code,
#app-mount pre{
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
#app-mount pre{
  margin: 10px 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
  border-radius: 3px;
}
#app-mount pre:before{
  content: "1\a 2\a 3\a 4\a 5\a 6\a 7\a 8\a 9\a 10\a 11\a 12\a 13\a 14\a 15\a 16\a 17\a 18\a 19\a 20\a 21\a 22\a 23\a 24\a 25\a 26\a 27\a 28\a 29\a 30\a 31\a 32\a 33\a 34\a 35\a 36\a 37\a 38\a 39\a 40\a 41\a 42\a 43\a 44\a 45\a 46\a 47\a 48\a 49\a 50\a 51\a 52\a 53\a 54\a 55\a 56\a 57\a 58\a 59\a 60\a 61\a 62\a 63\a 64\a 65\a 66\a 67\a 68\a 69\a 70\a 71\a 72\a 73\a 74\a 75\a 76\a 77\a 78\a 79\a 80\a 81\a 82\a 83\a 84\a 85\a 86\a 87\a 88\a 89\a 90\a 91\a 92\a 93\a 94\a 95\a 96\a 97\a 98\a 99\a 100\a 101\a 102\a 103\a 104\a 105\a 106\a 107\a 108\a 109\a 110\a 111\a 112\a 113\a 114\a 115\a 116\a 117\a 118\a 119\a 120\a 121\a 122\a 123\a 124\a 125\a 126\a 127\a 128\a 129\a 130\a 131\a 132\a 133\a 134\a 135\a 136\a 137\a 138\a 139\a 140\a 141\a 142\a 143\a 144\a 145\a 146\a 147\a 148\a 149\a 150\a 151\a 152\a 153\a 154\a 155\a 156\a 157\a 158\a 159\a 160\a 161\a 162\a 163\a 164\a 165\a 166\a 167\a 168\a 169\a 170\a 171\a 172\a 173\a 174\a 175\a 176\a 177\a 178\a 179\a 180\a 181\a 182\a 183\a 184\a 185\a 186\a 187\a 188\a 189\a 190\a 191\a 192\a 193\a 194\a 195\a 196\a 197\a 198\a 199\a 200\a 201\a 202\a 203\a 204\a 205\a 206\a 207\a 208\a 209\a 210\a 211\a 212\a 213\a 214\a 215\a 216\a 217\a 218\a 219\a 220\a 221\a 222\a 223\a 224\a 225\a 226\a 227\a 228\a 229\a 230\a 231\a 232\a 233\a 234\a 235\a 236\a 237\a 238\a 239\a 240\a 241\a 242\a 243\a 244\a 245\a 246\a 247\a 248\a 249\a 250\a 251\a 252\a 253\a 254\a 255\a 256\a 257\a 258\a 259\a 260\a 261\a 262\a 263\a 264\a 265\a 266\a 267\a 268\a 269\a 270\a 271\a 272\a 273\a 274\a 275\a 276\a 277\a 278\a 279\a 280\a 281\a 282\a 283\a 284\a 285\a 286\a 287\a 288\a 289\a 290\a 291\a 292\a 293\a 294\a 295\a 296\a 297\a 298\a 299\a 300\a 301\a 302\a 303\a 304\a 305\a 306\a 307\a 308\a 309\a 310\a 311\a 312\a 313\a 314\a 315\a 316\a 317\a 318\a 319\a 320\a 321\a 322\a 323\a 324\a 325\a 326\a 327\a 328\a 329\a 330\a 331\a 332\a 333\a 334\a 335\a 336\a 337\a 338\a 339\a 340\a 341\a 342\a 343\a 344\a 345\a 346\a 347\a 348\a 349\a 350\a 351\a 352\a 353\a 354\a 355\a 356\a 357\a 358\a 359\a 360\a 361\a 362\a 363\a 364\a 365\a 366\a 367\a 368\a 369\a 370\a 371\a 372\a 373\a 374\a 375\a 376\a 377\a 378\a 379\a 380\a 381\a 382\a 383\a 384\a 385\a 386\a 387\a 388\a 389\a 390\a 391\a 392\a 393\a 394\a 395\a 396\a 397\a 398\a 399\a 400\a 401\a 402\a 403\a 404\a 405\a 406\a 407\a 408\a 409\a 410\a 411\a 412\a 413\a 414\a 415\a 416\a 417\a 418\a 419\a 420\a 421\a 422\a 423\a 424\a 425\a 426\a 427\a 428\a 429\a 430\a 431\a 432\a 433\a 434\a 435\a 436\a 437\a 438\a 439\a 440\a 441\a 442\a 443\a 444\a 445\a 446\a 447\a 448\a 449\a 450\a 451\a 452\a 453\a 454\a 455\a 456\a 457\a 458\a 459\a 460\a 461\a 462\a 463\a 464\a 465\a 466\a 467\a 468\a 469\a 470\a 471\a 472\a 473\a 474\a 475\a 476\a 477\a 478\a 479\a 480\a 481\a 482\a 483\a 484\a 485\a 486\a 487\a 488\a 489\a 490\a 491\a 492\a 493\a 494\a 495\a 496\a 497\a 498\a 499\a 500\a 501\a 502\a 503\a 504\a 505\a 506\a 507\a 508\a 509\a 510\a 511\a 512\a 513\a 514\a 515\a 516\a 517\a 518\a 519\a 520\a 521\a 522\a 523\a 524\a 525\a 526\a 527\a 528\a 529\a 530\a 531\a 532\a 533\a 534\a 535\a 536\a 537\a 538\a 539\a 540\a 541\a 542\a 543\a 544\a 545\a 546\a 547\a 548\a 549\a 550\a 551\a 552\a 553\a 554\a 555\a 556\a 557\a 558\a 559\a 560\a 561\a 562\a 563\a 564\a 565\a 566\a 567\a 568\a 569\a 570\a 571\a 572\a 573\a 574\a 575\a 576\a 577\a 578\a 579\a 580\a 581\a 582\a 583\a 584\a 585\a 586\a 587\a 588\a 589\a 590\a 591\a 592\a 593\a 594\a 595\a 596\a 597\a 598\a 599\a 600\a 601\a 602\a 603\a 604\a 605\a 606\a 607\a 608\a 609\a 610\a 611\a 612\a 613\a 614\a 615\a 616\a 617\a 618\a 619\a 620\a 621\a 622\a 623\a 624\a 625\a 626\a 627\a 628\a 629\a 630\a 631\a 632\a 633\a 634\a 635\a 636\a 637\a 638\a 639\a 640\a 641\a 642\a 643\a 644\a 645\a 646\a 647\a 648\a 649\a 650\a 651\a 652\a 653\a 654\a 655\a 656\a 657\a 658\a 659\a 660\a 661\a 662\a 663\a 664\a 665\a 666\a 667\a 668\a 669\a 670\a 671\a 672\a 673\a 674\a 675\a 676\a 677\a 678\a 679\a 680\a 681\a 682\a 683\a 684\a 685\a 686\a 687\a 688\a 689\a 690\a 691\a 692\a 693\a 694\a 695\a 696\a 697\a 698\a 699\a 700\a 701\a 702\a 703\a 704\a 705\a 706\a 707\a 708\a 709\a 710\a 711\a 712\a 713\a 714\a 715\a 716\a 717\a 718\a 719\a 720\a 721\a 722\a 723\a 724\a 725\a 726\a 727\a 728\a 729\a 730\a 731\a 732\a 733\a 734\a 735\a 736\a 737\a 738\a 739\a 740\a 741\a 742\a 743\a 744\a 745\a 746\a 747\a 748\a 749\a 750\a 751\a 752\a 753\a 754\a 755\a 756\a 757\a 758\a 759\a 760\a 761\a 762\a 763\a 764\a 765\a 766\a 767\a 768\a 769\a 770\a 771\a 772\a 773\a 774\a 775\a 776\a 777\a 778\a 779\a 780\a 781\a 782\a 783\a 784\a 785\a 786\a 787\a 788\a 789\a 790\a 791\a 792\a 793\a 794\a 795\a 796\a 797\a 798\a 799\a 800\a 801\a 802\a 803\a 804\a 805\a 806\a 807\a 808\a 809\a 810\a 811\a 812\a 813\a 814\a 815\a 816\a 817\a 818\a 819\a 820\a 821\a 822\a 823\a 824\a 825\a 826\a 827\a 828\a 829\a 830\a 831\a 832\a 833\a 834\a 835\a 836\a 837\a 838\a 839\a 840\a 841\a 842\a 843\a 844\a 845\a 846\a 847\a 848\a 849\a 850\a 851\a 852\a 853\a 854\a 855\a 856\a 857\a 858\a 859\a 860\a 861\a 862\a 863\a 864\a 865\a 866\a 867\a 868\a 869\a 870\a 871\a 872\a 873\a 874\a 875\a 876\a 877\a 878\a 879\a 880\a 881\a 882\a 883\a 884\a 885\a 886\a 887\a 888\a 889\a 890\a 891\a 892\a 893\a 894\a 895\a 896\a 897\a 898\a 899\a 900\a 901\a 902\a 903\a 904\a 905\a 906\a 907\a 908\a 909\a 910\a 911\a 912\a 913\a 914\a 915\a 916\a 917\a 918\a 919\a 920\a 921\a 922\a 923\a 924\a 925\a 926\a 927\a 928\a 929\a 930\a 931\a 932\a 933\a 934\a 935\a 936\a 937\a 938\a 939\a 940\a 941\a 942\a 943\a 944\a 945\a 946\a 947\a 948\a 949\a 950\a 951\a 952\a 953\a 954\a 955\a 956\a 957\a 958\a 959\a 960\a 961\a 962\a 963\a 964\a 965\a 966\a 967\a 968\a 969\a 970\a 971\a 972\a 973\a 974\a 975\a 976\a 977\a 978\a 979\a 980\a 981\a 982\a 983\a 984\a 985\a 986\a 987\a 988\a 989\a 990\a 991\a 992\a 993\a 994\a 995\a 996\a 997\a 998\a 999\a";
  width: 20px;
  padding: 0 calc(var(--spacing) / 2);
  position: absolute;
  left: 0;
  top: 1px;
  text-align: right;
  padding-top: 25px;
  line-height: 1.5;
  height: calc(100% - 25px);
  overflow: hidden;
  color: #959da5;
  font-size: 11px;
}
#app-mount pre code{
  position: relative;
  box-sizing: border-box;
  padding: 25px 0.25em 0.15em 34px !important;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
  color: #d1d5da !important;
}
#app-mount pre code:before{
  content: "Unknown Language";
  width: 100%;
  height: 24px;
  top: 0;
  left: 0;
  color: #d1d5da !important;
  border-bottom: 1px solid #141414 !important;
  font-size: 1em;
  font-weight: 400;
  padding: 0 calc(var(--spacing) + 20px);
  display: flex;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
}
#app-mount pre code:after{
  content: "";
  width: 24px;
  height: 23px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 calc(var(--spacing) / 3);
  -webkit-mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M3 3a2 2 0 012-2h9.982a2 2 0 011.414.586l4.018 4.018A2 2 0 0121 7.018V21a2 2 0 01-2 2H4.75a.75.75 0 010-1.5H19a.5.5 0 00.5-.5V8.5h-4a2 2 0 01-2-2v-4H5a.5.5 0 00-.5.5v6.25a.75.75 0 01-1.5 0V3zm12-.5v4a.5.5 0 00.5.5h4a.5.5 0 00-.146-.336l-4.018-4.018A.5.5 0 0015 2.5z"/><path d="M4.53 12.24a.75.75 0 01-.039 1.06l-2.639 2.45 2.64 2.45a.75.75 0 11-1.022 1.1l-3.23-3a.75.75 0 010-1.1l3.23-3a.75.75 0 011.06.04zm3.979 1.06a.75.75 0 111.02-1.1l3.231 3a.75.75 0 010 1.1l-3.23 3a.75.75 0 11-1.021-1.1l2.639-2.45-2.64-2.45z"/></svg>') center/12px no-repeat;
  background: #d1d5da !important;
}
#app-mount pre code[class~=hljs]:before{
  content: "Plain Text";
}
#app-mount pre code[class~=diff i]:before{
  content: "Diff";
}
#app-mount pre code[class~=cs i]:before,#app-mount pre code[class~=csharp i]:before{
  content: "C#";
}
#app-mount pre code[class~=c i]:before{
  content: "C";
}
#app-mount pre code[class~=ini i]:before{
  content: "Initialization File";
}
#app-mount pre code[class~=autohotkey i]:before{
  content: "AutoHotkey";
}
#app-mount pre code[class~=asciidoc i]:before{
  content: "Ascii";
}
#app-mount pre code[class~=TOML i]:before{
  content: "TOML";
}
#app-mount pre code[class~=nginx i]:before{
  content: "NGINX";
}
#app-mount pre code[class~=perl i]:before{
  content: "Perl";
}
#app-mount pre code[class~=d i]:before{
  content: "d";
}
#app-mount pre code[class~=javascript i]:before,#app-mount pre code[class~=js i]:before{
  content: "Javascript";
}
#app-mount pre code[class~=css i]:before{
  content: "Cascading Style Sheet";
}
#app-mount pre code[class~=bash i]:before{
  content: "Bash";
}
#app-mount pre code[class~=markdown i]:before,#app-mount pre code[class~=md i]:before{
  content: "Markdown";
}
#app-mount pre code[class~=html i]:before{
  content: "HTML";
}
#app-mount pre code[class~=xl i]:before{
  content: "eXtensible Language";
}
#app-mount pre code[class~=coffee i]:before{
  content: "CoffeeScript";
}
#app-mount pre code[class~=ruby i]:before{
  content: "Ruby";
}
#app-mount pre code[class~=sql i]:before{
  content: "SQL";
}
#app-mount pre code[class~=java i]:before{
  content: "Java";
}
#app-mount pre code[class~=py i]:before,#app-mount pre code[class~=python i]:before{
  content: "Python";
}
#app-mount pre code[class~=vb i]:before,#app-mount pre code[class~=visualbasic i]:before,#app-mount pre code[class~=vbs i]:before{
  content: "Visual Basic";
}
#app-mount pre code[class~=lua i]:before{
  content: "Lua";
}
#app-mount pre code[class~=php i]:before{
  content: "Php";
}
#app-mount pre code[class~=swift i]:before{
  content: "Swift";
}
#app-mount pre code[class~=makefile i]:before{
  content: "Makefile";
}
#app-mount pre code[class~=go i]:before{
  content: "Go";
}
#app-mount pre code[class~=rust i]:before{
  content: "Rust";
}
#app-mount pre code[class~=prolog i]:before{
  content: "Prolog";
}
#app-mount pre code[class~=ts i]:before,#app-mount pre code[class~=typescript i]:before{
  content: "TypeScript";
}
#app-mount pre code[class~=http i]:before{
  content: "HyperText Transfer Protocol";
}
#app-mount pre code[class~=json i]:before{
  content: "JSON";
}
#app-mount pre code[class~=xml i]:before{
  content: "XML";
}
#app-mount pre code[class~=less i]:before{
  content: "Less";
}
#app-mount pre code[class~=sass i]:before,#app-mount pre code[class~=scss i]:before{
  content: "SCSS";
}
#app-mount pre code[class~=elm i]:before{
  content: "Elm";
}
#app-mount pre code[class~=cpp i]:before{
  content: "C++";
}
#app-mount pre code[class~=hbs i]:before{
  content: "Handlebars";
}
#app-mount pre code[class~="1c" i]:before{
  content: "1c";
}
#app-mount pre code[class~=abnf i]:before{
  content: "ABNF";
}
#app-mount pre code[class~=clojure i]:before{
  content: "Clojure";
}
#app-mount pre code[class~=objc i]:before{
  content: "Objective-C";
}
#app-mount pre code[class~=yaml i]:before{
  content: "YAML";
}
#app-mount pre code[class~=shell i]:before,#app-mount pre code[class~=sh i]:before{
  content: "Shell";
}
#app-mount pre code[class~=kotlin i]:before{
  content: "Kotlin";
}
#app-mount pre code[class~=apache i]:before{
  content: "Apache";
}
#app-mount pre code[class~=stylus i]:before{
  content: "Stylus";
}
#app-mount pre code[class~=avrasm i]:before{
  content: "AVR Assembler";
}
#app-mount pre code[class~=llvm i]:before{
  content: "LLVM iR";
}
#app-mount pre code[class~=mipsasm i]:before{
  content: "MIPS Assembly";
}
#app-mount pre code[class~=x86asm i]:before{
  content: "Intel x86 Assembly";
}
#app-mount pre code[class~=crmsh i]:before{
  content: "crmsh";
}
#app-mount pre code[class~=dns i]:before{
  content: "DNS Zone File";
}
#app-mount pre code[class~=dockerfile i]:before{
  content: "Dockerfile";
}
#app-mount pre code[class~=dsconfig i]:before{
  content: "dsconfig";
}
#app-mount pre code[class~=jboss-cli i]:before{
  content: "jboss-cli";
}
#app-mount pre code[class~=ldif i]:before{
  content: "LDIF";
}
#app-mount pre code[class~="pf.conf" i]:before{
  content: "pf.conf";
}
#app-mount pre code[class~=puppet i]:before{
  content: "Puppet";
}
#app-mount pre code[class~=roboconf i]:before{
  content: "Roboconf";
}
#app-mount pre code[class~=axapta i]:before{
  content: "Microsoft Dynamics AX";
}
#app-mount pre code[class~=cos i]:before{
  content: "Cache Object Script";
}
#app-mount pre code[class~=isbl i]:before{
  content: "ISBL";
}
#app-mount pre code[class~=livecodeserver i]:before{
  content: "LiveCode";
}
#app-mount pre code[class~=ldif i]:before{
  content: "LDIF";
}
#app-mount pre code[class~=ruleslanguage i]:before{
  content: "Oracle Rules Language";
}
#app-mount pre code[class~=clean i]:before{
  content: "Clean";
}
#app-mount pre code[class~=coq i]:before{
  content: "Coq";
}
#app-mount pre code[class~=elixir i]:before{
  content: "Elixir";
}
#app-mount pre code[class~=erlang-repl i]:before{
  content: "Erlang REPL";
}
#app-mount pre code[class~=erlang i]:before{
  content: "Erlang";
}
#app-mount pre code[class~=flix i]:before{
  content: "Flix";
}
#app-mount pre code[class~=fsharp i]:before,#app-mount pre code[class~=fs i]:before{
  content: "F#";
}
#app-mount pre code[class~=haskell i]:before{
  content: "Haskell";
}
#app-mount pre code[class~=ocaml i]:before{
  content: "OCaml";
}
#app-mount pre code[class~=scala i]:before{
  content: "Scala";
}
#app-mount pre code[class~=sml i]:before{
  content: "SML (Standard ML)";
}
#app-mount pre code[class~=xquery i]:before{
  content: "XQuery";
}
#app-mount pre code[class~=glsl i]:before{
  content: "GLSL";
}
#app-mount pre code[class~=mel i]:before{
  content: "MEL";
}
#app-mount pre code[class~=processing i]:before{
  content: "Processing";
}
#app-mount pre code[class~=rib i]:before{
  content: "RenderMan RIB";
}
#app-mount pre code[class~=rsl i]:before{
  content: "RenderMan RSL";
}
#app-mount pre code[class~=armasm i]:before{
  content: "Arm Assembly";
}
#app-mount pre code[class~=asm i]:before,#app-mount pre code[class~=assembly i]:before{
  content: "Assembly";
}
#app-mount pre code .hljs-built_in,
#app-mount pre code .hljs-doctag,
#app-mount pre code .hljs-literal,
#app-mount pre code .hljs-meta .hljs-meta-string,
#app-mount pre code .hljs-number,
#app-mount pre code .hljs-regexp,
#app-mount pre code .hljs-selector-class{
  color: #b392f0;
}
#app-mount pre code .hljs-attribute,
#app-mount pre code .hljs-name,
#app-mount pre code .hljs-section,
#app-mount pre code .hljs-selector-class,
#app-mount pre code .hljs-selector-id,
#app-mount pre code .hljs-string,
#app-mount pre code .hljs-title{
  color: #79b8ff;
}
#app-mount pre code .hljs-attr,
#app-mount pre code .hljs-attribute,
#app-mount pre code .hljs-bullet,
#app-mount pre code .hljs-class,
#app-mount pre code .hljs-link,
#app-mount pre code .hljs-meta,
#app-mount pre code .hljs-meta .hljs-keyword,
#app-mount pre code .hljs-selector-attr,
#app-mount pre code .hljs-selector-pseudo,
#app-mount pre code .hljs-subst,
#app-mount pre code .hljs-symbol,
#app-mount pre code .hljs-template-variable,
#app-mount pre code .hljs-title,
#app-mount pre code .hljs-type,
#app-mount pre code .hljs-variable{
  color: #ffab70;
}
#app-mount pre code .hljs-addition,
#app-mount pre code .hljs-keyword,
#app-mount pre code .hljs-selector-tag{
  color: #56b6c2;
}
#app-mount pre code .hljs-comment,
#app-mount pre code .hljs-quote{
  color: #959da5;
}
/*---------- Permissions Viewer Fix ----------*/
/*Updated 2021-01-05*/
#permissions-modal-wrapper .callout-backdrop,
#permissions-modal-wrapper .role-side,
#permissions-modal-wrapper .perm-side,
#permissions-modal-wrapper .modal-body,
.theme-light #permissions-modal-wrapper #permissions-modal,
.theme-dark #permissions-modal-wrapper #permissions-modal
{
  background: rgba(0,0,0,.2) !important;
}
#permissions-modal-wrapper .header
{
  background: rgba(0,0,0,.4) !important;
  border-bottom: 2px solid var(--main-color) !important;
}
#permissions-modal-wrapper .role-item.selected
{
  background: rgba(0,0,0,.6) !important;
  border: 2px solid var(--main-color) !important;
}
#permissions-modal-wrapper .role-item
{
  border: 2px solid transparent !important;
}
.member-perms::-webkit-scrollbar-thumb,
#permissions-modal-wrapper *::-webkit-scrollbar-thumb{
  background-color: var(--main-color) !important;
}
/*---------- Better Formatting Fix ----------*/
/*Updated 2020-10-28*/
/*Lazy blanket that makes entire thing transparent*/
.bf-toolbar.bf-hover:hover:before,
.bf-toolbar.bf-visible:before,
.bf-toolbar:before{
  background: rgba(0,0,0,.2) !important;
}
/*---------- Channel Tabs Fix ----------*/
/*Updated 2020-11-05*/
/*Fixing unthemed tabs*/
.channelTabs-tab{
  background: rgba(0,0,0,.2) !important;
  border-radius: 0px !important;
}
.channelTabs-tabContainer{
  background: transparent !important;
}
.channelTabs-tab:hover{
  background: rgba(0,0,0,.3) !important;
}
.channelTabs-selected:hover,
.channelTabs-fav:hover{
  background: rgba(0,0,0,.5) !important;
}
.channelTabs-selected,
.channelTabs-fav,
.channelTabs-favContainer{
  background: rgba(0,0,0,.4) !important;
}
/*Squaring icon*/
.channelTabs-tabIcon,
.channelTabs-favIcon{
  border-radius: var(--square-border-radius) !important;
}
.channelTabs-fav{
  border-radius: 0px !important;
  /*border-left: 2px solid var(--main-color);
  border-right: 2px solid var(--main-color);*/
}
/*Colors and fonts*/
.channelTabs-tabName,
.channelTabs-tabIcon ~ .channelTabs-tabName,
.channelTabs-favIcon ~ .channelTabs-favName{
  font: var(--main-font) !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  color: var(--text-color) !important;
}
.channelTabs-newTab:hover{
  background: var(--hover-color) !important; 
  color: white !important;
}
.channelTabs-newTab{
  background: var(--main-color) !important; 
  color: white !important;
}
.channelTabs-closeTab,
.channelTabs-selected .channelTabs-closeTab{
  background: transparent !important; 
  color: white !important;
}
.channelTabs-closeTab:hover,
.channelTabs-selected .channelTabs-closeTab:hover{
  background: transparent !important; 
  color: var(--hover-color) !important;
}
.channelTabs-mentionBadge{
  background-color: var(--main-color) !important;
}
.channelTabs-unreadBadge{
  background-color: black !important;
}
.channelTabs-favMentionBadge,
.channelTabs-favUnreadBadge,
.channelTabs-fav .channelTabs-noMention,
.channelTabs-fav .channelTabs-noUnread{
  color: white !important;
}
.channelTabs-noFavNotice{
  color: var(--text-color) !important;
  font: var(--main-font) !important;
}
/*---------- DateViewer ----------*/
/*Updated 2020-08-31*/
/*Make the DateViewer plugin background transparent*/
#dv-mount{
  background: rgba(0,0,0,.2);
  font: var(--main-font);
}
/*
.dv-time,.dv-weekday,#dv-main .dv-date,.layer-v9HyYc{
  color: var(--text-color) !important;
}*/ /*Changes DV Text Colors; if you think this is aids,comment it*/
